@using Nop.Plugin.WebApi.MobSocial.Enums
<div id="payment-form-popup-container">
    <div class="overlay"></div>
    <div id="payment-form-popup">
        <form name="createPaymentForm">

            <div class="fieldset">
                <div class="form-fields">
                    <div class="text-center">
                        <h3>{{PaymentProcessMessage}}</h3>
                    </div>
                    <div ng-if="AvailablePaymentMethods.CustomerPendingOrders.Count > 0">
                        <div class="inputs">
                            <label for="select-voter-pass">Available {{CustomerPaymentMethods.PurchaseType == @((int)PurchaseType.VoterPass) ? "Voter" : "Sponsorship"}} Passes</label>

                            <select id="select-voter-pass" ng-init="PurchasePass.PassId='AvailablePaymentMethods.CustomerPendingOrders[0].Value'" ng-model="PurchasePass.PassId">
                                <option ng-repeat="order in AvailablePaymentMethods.CustomerPendingOrders" ng-selected="order.Value == PurchasePass.PassId" value="{{order.Value}}">
                                    {{order.Text}}
                                </option>
                            </select>
                        </div>
                        <div class="buttons text-center">
                            <input type="button" value="{{AvailablePaymentMethods.PurchaseType == @((int)PurchaseType.VoterPass) ? 'VOTE NOW' : 'Buy Sponsorship' }}" ng-click="StartPaymentProcess(PurchasePass.PassId)" />
                        </div>

                        <h3 class="text-center">OR</h3>
                    </div>
                    <div class="inputs">
                        <label for="voting-amount">{{AvailablePaymentMethods.PurchaseType == @((int)PurchaseType.VoterPass) ? "Voting" : "Sponsorship"}} Amount</label>
                        <input ng-if="AvailablePaymentMethods.IsAmountVariable" type="number" step="0.01" min="{{AvailablePaymentMethods.MinimumPaymentAmount}}" ng-init="PurchasePass.Amount=AvailablePaymentMethods.MinimumPaymentAmount" ng-model="PurchasePass.Amount" />
                        <span ng-if="!AvailablePaymentMethods.IsAmountVariable"><input type="hidden" ng-init="PurchasePass.Amount=AvailablePaymentMethods.MinimumPaymentAmount" ng-model="PurchasePass.Amount" />{{PurchasePass.Amount}}</span>


                    </div>
                    <div ng-if="AvailablePaymentMethods.CustomerPaymentMethods.length > 0">
                        <div class="inputs">
                            <label for="select-payment-method">Select a card</label>
                            <select id="select-payment-method" ng-model="PurchasePass.CustomerPaymentMethodId" ng-init="PurchasePass.CustomerPaymentMethodId=AvailablePaymentMethods.CustomerPaymentMethods[0].Value">
                                <option value="{{pm.Value}}" ng-repeat="pm in AvailablePaymentMethods.CustomerPaymentMethods" ng-selected="pm.Value == PurchasePass.CustomerPaymentMethodId">
                                    {{pm.Text}}
                                </option>
                                <option value="0">New...</option>
                            </select>
                        </div>
                    </div>
                    <div ng-if="!(AvailablePaymentMethods.CustomerPaymentMethods.length > 0)">
                        <input type="hidden" ng-model="PurchasePass.CustomerPaymentMethodId" ng-init="PurchasePass.CustomerPaymentMethodId='0'" />

                    </div>
                    <div id="debit-credit-card" ng-show="AvailablePaymentMethods.CustomerPaymentMethods.length > 0 ? PurchasePass.CustomerPaymentMethodId == 0 : true">
                        <div class="inputs">
                            <label for="card-number">Credit Card Number</label>
                            <input id="card-number" name="cardNumber" placeholder="xxxx-xxxx-xxxx-xxxx" type="text" ng-model="PurchasePass.CustomerPaymentRequest.CardNumber" required />
                            <span class="payment-method fa fa-cc-visa" ng-show="PurchasePass.CustomerPaymentRequest.CardIssuerType == 'visa'"></span>
                            <span class="payment-method fa fa-cc-mastercard" ng-show="PurchasePass.CustomerPaymentRequest.CardIssuerType == 'mastercard'"></span>
                            <span class="payment-method fa fa-cc-amex" ng-show="PurchasePass.CustomerPaymentRequest.CardIssuerType == 'amex'"></span>
                            <span class="payment-method fa fa-cc-diners-club" ng-show="PurchasePass.CustomerPaymentRequest.CardIssuerType == 'diners'"></span>
                            <span class="payment-method fa fa-cc-discover" ng-show="PurchasePass.CustomerPaymentRequest.CardIssuerType == 'discover'"></span>
                            <span ng-show="createPaymentForm.cardNumber.$invalid && createPaymentForm.cardNumber.$dirty"> Please check the card number and try again</span>

                        </div>
                        <div class="inputs">
                            <label for="month">Expiration Date</label>
                            <input id="month" type="number" min="1" max="12" step="1" placeholder="MM" class="half-width" ng-model="PurchasePass.CustomerPaymentRequest.ExpireMonth" required />/
                            <input id="year" type="number" min="@DateTime.Now.Year" step="1" placeholder="YYYY" class="half-width" ng-model="PurchasePass.CustomerPaymentRequest.ExpireYear" required />
                        </div>
                        <div class="inputs">
                            <label for="month">Name on Card</label>
                            <input id="name" type="text" ng-model="PurchasePass.CustomerPaymentRequest.NameOnCard" required />
                        </div>
                        <div class="inputs">
                            <label for="security-code">CSC/CVV/CVV2</label>
                            <input id="security-code" ng-model="PurchasePass.CustomerPaymentRequest.SecurityCode" maxlength="4" type="password" />
                        </div>
                        <input type="hidden" ng-model="PurchasePass.CustomerPaymentRequest.CardIssuerType" />
                        <input type="hidden" ng-model="PurchasePass.CustomerPaymentRequest.PaymentMethod" ng-init="PurchasePass.CustomerPaymentRequest.PaymentMethod='@PaymentMethodType.CreditCard'" />
                    </div>

                    <div class="buttons text-center">
                        <div ng-show="!PurchasePass.PurchasingInProgress">
                            <input type="button" value="{{AvailablePaymentMethods.PurchaseType == @((int)PurchaseType.VoterPass) ? 'PAY & VOTE' : 'Buy Sponsorship'}}" ng-click="StartPaymentProcess()" />
                            <input type="button" value="Cancel" ng-click="StopPaymentProcess()" />
                        </div>
                        <div ng-show="PurchasePass.PurchasingInProgress">
                            Please wait while your payment is being processed...
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
