@model Nop.Plugin.Widgets.MobSocial.Models.CustomerAlbumModel

@{
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");
    
    Html.AddScriptParts(ResourceLocation.Foot, "~/Plugins/Widgets.mobSocial/Content/mobSocial/customer-albums.js");
    Html.AddScriptParts("~/Scripts/jquery.fancybox-1.3.4.pack.js");
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
}

<div id="dialog-ok"></div>

<div id="dialog-modal" title="Upload Picture">
    Choose a picture to upload:
    
    @using (Ajax.BeginForm("UploadAlbumPicture", "MobSocial", new AjaxOptions() { HttpMethod = "POST" }, new { id = "uploadPictureForm", enctype = "multipart/form-data" }))
    {
        <input type="hidden" name="albumId" value="@Model.AlbumId"/>
        <img id="previewPicture" src="#" alt="Picture Preview" width="190" />
        <input type="file" name="pictureFile" />
        <br/><br/>
        
    }

</div>

<div id="dialog-confirm" title="Delete Picture?">Are you sure you want to delete this picture?</div>

<div class="customer-album-container">
    
    <div class="add-picture-button">
        <i class="fa fa-camera"></i>
        <span class="add-picture-button-text" title="Add Picture">Add Picture</span>
    </div>

    @foreach (var picture in Model.Pictures)
    {
        <div class="customer-album-picture-block" data-customerAlbumPictureId="@picture.Id">
           
                <span class="delete-picture-button" data-customerAlbumPictureId="@picture.Id" title="Delete Picture"><i class="fa fa-trash-o"></i></span>

                <a href="@picture.Url" title="@picture.Caption" data-gallery="lightbox-p"><img src="@picture.ThumbnailUrl" alt="@picture.AltText" title="@picture.AltText" /></a>
                <br/>
                <span class="customer-album-picture-caption">@picture.Caption</span>
            
        </div>
    }
</div>



