@using Models
@using Nop.Admin.Models.Catalog
@using Telerik.Web.Mvc.UI
@using Nop.Web.Framework
@{
    Layout = "";
}

@model Nop.Plugin.Widgets.MobSocial.Models.ConfigurationModel

@*
@if (Model != null)
{

    
    
    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.ZoneId):
            </td>
            <td class="adminData">
                @Html.DropDownListFor(model => model.ZoneId, Model.AvailableZones)
                @Html.ValidationMessageFor(model => model.ZoneId)
            </td>
        </tr>
        <tr>
            <td colspan="2" width="100%">
                <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
            </td>
        </tr>
    </table>
    
    
    
    
       
    <table class="adminContent">
        <tr>
            <td>
                @(Html.Telerik().Grid<ConfigurationModel>()
                      .Name("product-carousel-grid")
                      .DataKeys(keys => keys.Add(x => x.Id))
                      .DataBinding(dataBinding => dataBinding.Ajax()
                                                             .Select("ProductCarouselList", "ProductCarousel")
                                                             .Update("ProductCarouselUpdate", "ProductCarousel")
                                                             .Delete("ProductCarouselDelete", "ProductCarousel"))
                      .Columns(columns =>
                      {
                          columns.Bound(x => x.Product2Name)
                                 .Width(500)
                                 .ReadOnly();
                          columns.Bound(x => x.DisplayOrder)
                                 .Width(100)
                                 .Centered();
                          columns.Command(commands =>
                          {
                              commands.Edit().Text(T("Admin.Common.Edit").Text);
                              commands.Delete().Text(T("Admin.Common.Delete").Text);
                          })
                                 .Width(180);
                      })
                      .EnableCustomBinding(true))
            </td>
        </tr>
        <tr>
            <td width="100%">
                $1$<input type="submit" id="btnAddNewRelatedProduct" name="btnAddNewRelatedProduct" value="Add Product to Carousel" onclick=" javascript:OpenWindow('@(Url.Action("[actionnameHERE]", "SocialNetwork", new { btnId = "btnRefreshProductCarousel", formId = "product-form" }))', 800, 700, true); return false; " class="t-button" />#1#
                <input type="submit" id="btnRefreshProductCarousel" name="btnRefreshProductCarousel" style="display: none" />
                <script type="text/javascript">
                    $(document).ready(function() {
                        $('#btnRefreshProductCarousel').click(function() {
                            //refresh grid
                            var optionsGrid = $("#product-carousel-grid");
                            optionsGrid.data('tGrid').ajaxRequest();

                            //return false to don't reload a page
                            return false;
                        });
                    });
                </script>
            </td>
        </tr>
    </table>



}

@Html.Telerik().ScriptRegistrar()*@