@using Nop.Plugin.Widgets.MobSocial.Enums
@{
    var videouploadUrl = "/VideoBattles/UploadVideo/";
}
<div class="participant-box participant-{{participant.VideoBattleParticipantStatus}}" ng-hide="!participant.CanEdit && participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.NotChallenged) && VideoBattle.VideoBattleType != @((int) VideoBattleType.InviteOnly) && participant.VideoPath == null">

    <div class="participant-box-overlay" ng-show="(IsVideoPlaying) && PlayingParticipant !== participant"><i class="fa fa-lock"></i></div>
    <div ng-if="(participant.IsLeading || participant.IsWinner) && (VideoBattle.VideoBattleStatus == @((int) VideoBattleStatus.Open) || VideoBattle.VideoBattleStatus == @((int) VideoBattleStatus.Complete))" class="leader-status">
        {{participant.IsWinner ? "Winner" : "Leading"}}
    </div>
    <div class="video-watched-status" ng-if="participant.VideoWatched || GlobalVotingStatus">
        <i class="fa fa-check"></i> Watched
    </div>
    <div class="participant-name">
        <a href="{{participant.ParticipantUrl}}">{{participant.ParticipantName}}</a>
    </div>
    <div class="participation-status">
        <div ng-switch on="participant.VideoBattleParticipantStatus">
            <div ng-switch-when="@((int) VideoBattleParticipantStatus.NotChallenged)">Challenger</div>
            <div ng-switch-when="@((int) VideoBattleParticipantStatus.Challenged)">Pending Acceptance</div>
            <div ng-switch-when="@((int) VideoBattleParticipantStatus.ChallengeAccepted)">Challenge Accepted</div>
            <div ng-switch-when="@((int) VideoBattleParticipantStatus.ChallengeDenied)">Challenge Denied</div>
            <div ng-switch-when="@((int) VideoBattleParticipantStatus.ChallengeCancelled)">Challenge Cancelled</div>
            <div ng-switch-when="@((int) VideoBattleParticipantStatus.SignedUp)">Signed Up for Challenge</div>
        </div>

    </div>

    <div class="video-placeholder">
        <div ng-if="participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.Challenged) ">
            <i class="fa fa-question-circle big gray"></i>
        </div>
        <div ng-if="participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.ChallengeDenied) ">
            <i class="fa fa-times big gray"></i>
        </div>
        <div ng-if="participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.ChallengeCancelled) ">
            <i class="fa fa-ban big gray"></i>
        </div>
        <div ng-if="participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.SignedUp)">
            <i class="fa fa-clock-o big gray"></i>
        </div>
        <div ng-if="participant.CanEdit && participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.Challenged)">
            <div class="video-battle-action-buttons" ng-hide="processingAcceptOrDenyInvite || inviteAccepted">
                <button ng-click="AcceptOrDenyInvite(VideoBattle.Id, @((int) VideoBattleParticipantStatus.ChallengeAccepted), participant.Id)">Accept</button>
                <button ng-click="AcceptOrDenyInvite(VideoBattle.Id, @((int) VideoBattleParticipantStatus.ChallengeDenied), participant.Id)">Reject</button>
            </div>
        </div>

        <div ng-if="VideoBattle.IsEditable && participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.SignedUp)">
            <div class="video-battle-action-buttons" ng-hide="processingAcceptOrDenyInvite || inviteAccepted">
                <button ajax-disable ng-click="AcceptOrDenyInvite(VideoBattle.Id, @((int) VideoBattleParticipantStatus.ChallengeAccepted), participant.Id)">Approve</button>
                <button ajax-disable ng-click="AcceptOrDenyInvite(VideoBattle.Id, @((int) VideoBattleParticipantStatus.ChallengeCancelled), participant.Id)">Reject</button>
            </div>
        </div>

        <div ng-if="VideoBattle.VideoBattleStatus != @((int) VideoBattleStatus.Pending) || ((participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.ChallengeAccepted) || participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.NotChallenged)) && VideoBattle.VideoBattleStatus == @((int) VideoBattleStatus.Pending))">

            <div ng-if="participant.VideoPath == null && participant.CanEdit && participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.Challenged)">
                You have not uploaded any video yet.
            </div>
            <div ng-if="participant.CanEdit && participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.Challenged)">
                <strong>Videos can no longer be submitted once voting starts</strong>
            </div>
            <div ng-if="(VideoBattle.VideoBattleStatus == @((int) VideoBattleStatus.Pending) || VideoBattle.VideoBattleStatus == @((int) VideoBattleStatus.Locked)) && !participant.CanEdit">
                Video uploaded will be visible once the battle goes live
            </div>
            <div ng-if="participant.VideoPath != null && ((VideoBattle.VideoBattleStatus != @((int) VideoBattleStatus.Pending) && VideoBattle.VideoBattleStatus != @((int) VideoBattleStatus.Locked)) || participant.CanEdit)" class="videogular-container">

                <videogular vg-player-ready="PlayerReady(participant, $API)" vg-complete="WatchedVideo(participant.Id)" vg-update-state="UpdateState(participant, $state)" vg-theme="controller.config.theme" vg-responsive="true">
                    <vg-media vg-src="participant.VideoSource" vg-tracks="" preload="metadata">
                    </vg-media>
                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'hh:mm:ss' }}</vg-time-display>
                        <span>/</span>
                        <vg-time-display>{{ timeLeft | date:'hh:mm:ss' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                    <vg-ima-ads vg-network="participant.extras.network"
                                vg-unit-path="participant.extras.unitPath"
                                vg-companion="participant.extras.companion"
                                vg-companion-size="participant.extras.companionSize"
                                vg-ad-tag-url="participant.extras.adTagUrl"
                                vg-skip-button="participant.extras.skipButton">
                    </vg-ima-ads>
                    <vg-poster vg-url='controller.config.plugins.poster'></vg-poster>
                </videogular>

            </div>
        </div>
        <div ng-if="VideoBattle.VideoBattleStatus == @((int) VideoBattleStatus.Pending)">
            <div class="video-uploader-button" ng-if="participant.CanEdit && (participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.ChallengeAccepted) || participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.NotChallenged))">
                <button class="{{participant.VideoPath == null ? 'big' : ''}}" file-upload-button
                        id="videofile_{{VideoBattle.Id}}_{{participant.Id}}"
                        fieldname="VideoFile"
                        extradata='{"VideoBattleId": {{VideoBattle.Id}}, "ParticipantId" : {{participant.Id}}, "FieldName": "VideoFile"}'
                        uploadtype="video"
                        onsuccessitem="UploadSuccess"
                        url="@videouploadUrl">
                    <i class="fa fa-upload"></i> Upload Video
                </button>
            </div>
        </div>
        <div class="participant-voting text-center">
            <div ng-if="VideoBattleComplete && participant.CurrentUserVote == null && VideoBattle.VideoBattleStatus == @((int) VideoBattleStatus.Open) && !participant.CanEdit && (participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.ChallengeAccepted) || participant.VideoBattleParticipantStatus == @((int) VideoBattleParticipantStatus.NotChallenged))">
                <div ng-switch on="VideoBattle.VideoBattleVoteType">
                    <div ng-switch-when="@((int) VideoBattleVoteType.SelectOneWinner)">
                        <button ng-hide="voted" ng-click="VoteBattle(VideoBattle.Id, participant.Id, 1)">SELECT AS WINNER</button>
                    </div>
                    <div ng-switch-when="@((int) VideoBattleVoteType.LikeDislike)">
                    </div>
                    <div ng-switch-when="@((int) VideoBattleVoteType.Rating)">
                    </div>
                </div>
            </div>
            <div ng-if="participant.CurrentUserVote != null">
                <div ng-switch on="VideoBattle.VideoBattleVoteType">
                    <div ng-switch-when="@((int) VideoBattleVoteType.SelectOneWinner)">
                        <b><i class="fa fa-check-circle"></i> You selected {{participant.ParticipantName}} as winner</b>
                    </div>
                    <div ng-switch-when="@((int) VideoBattleVoteType.LikeDislike)">
                    </div>
                    <div ng-switch-when="@((int) VideoBattleVoteType.Rating)">
                    </div>
                </div>
            </div>
            <div class="voting-stats" ng-if="VideoBattle.VideoBattleStatus != @((int) VideoBattleStatus.Pending)">
                <div ng-switch on="VideoBattle.VideoBattleVoteType">
                    <div ng-switch-when="@((int) VideoBattleVoteType.SelectOneWinner)">
                        {{participant.TotalVoters}} have voted for {{participant.ParticipantName}}
                    </div>
                    <div ng-switch-when="@((int) VideoBattleVoteType.LikeDislike)">
                        {{participant.RatingCountLike}} <i class="fa fa-thumbs-up"></i>. {{participant.RatingCountDislike}} <i class="fa fa-thumbs-down"></i>
                    </div>
                    <div ng-switch-when="@((int) VideoBattleVoteType.Rating)">
                        Average Rating: {{participant.AverageRating}}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>