@using Nop.Plugin.WebApi.MobSocial.Enums
@using Nop.Plugin.WebApi.MobSocial.Models
@using Nop.Plugin.Widgets.MobSocial.Constants
@model Nop.Plugin.Widgets.MobSocial.Models.VideoBattleIndexModel
@{
    Layout = MobSocialConstant.ViewsPath + "/mobSocial/_AppLayoutTheater.cshtml";

    Html.AppendTitleParts(Model.Name);

    Html.AppendMetaDescriptionParts(Model.Description);
    Html.AppendMetaKeywordParts(Model.Description);
    @Html.Partial("mobSocial/VideoBattle/Includes")


    var json = Json.Encode(Model);
    var videouploadUrl = "/VideoBattles/UploadVideo/";

}

<div class="battle-participants" ng-controller="VideoBattlePageController as controller" ng-init="init(@json)">

    <div class="details-slider-container">
        <a class="toggle-details-slider-container collapsed" href="">
            <i class="fa fa-info-circle"></i>
        </a>
        <a class="slider-close">
            <i class="fa fa-times"></i>
        </a>
        <script type="text/javascript">
            jQuery(".toggle-details-slider-container").click(function (e) {
                if (jQuery(this).hasClass("collapsed")) {
                    jQuery(".details-slider-container").animate({ right: "0%" });
                } else {
                    jQuery(".details-slider-container").animate({ right: "-50%" });
                }

                jQuery(this).toggleClass("collapsed").toggleClass("expanded");
                e.preventDefault();
            });

            jQuery(".slider-close").click(function (e) {
                jQuery(".toggle-details-slider-container").trigger("click");
                e.preventDefault();
            });
        </script>
        <h1 class="battle-page-heading">

            <span ng-switch on="VideoBattle.VideoBattleStatus">
                <span ng-switch-when="@((int) VideoBattleStatus.Pending)"><i class="fa fa-clock-o" title="The battle is open to join"></i></span>
                <span ng-switch-when="@((int) VideoBattleStatus.Locked)"><i class="fa fa-lock" title="The battle is locked"></i></span>
                <span ng-switch-when="@((int) VideoBattleStatus.Open)"><i class="fa fa-thumbs-o-up" title="The battle is open to vote. Watch all videos to vote."></i></span>
                <span ng-switch-when="@((int) VideoBattleStatus.Closed)"><i class="fa  fa-flag-checkered" title="The battle is closed now."></i></span>
                <span ng-switch-when="@((int) VideoBattleStatus.Complete)"><i class="fa fa-trophy" title="The battle is complete and we have a winner"></i></span>
            </span>
            @Model.Name
        </h1>
        <div class="battle-timer" ng-show="VideoBattle.timerSettings.totalSeconds > 0">
            {{VideoBattle.timerSettings.battleStatusString}}

            <timer ng-if="VideoBattle.timerSettings.totalSeconds" countdown="VideoBattle.timerSettings.totalSeconds" interval="1000">
                {{days > 0 ? days + ' day' + (days > 1 ? "s" : "") : ""}}
                {{hours > 0 ? hours + ' hour' + (hours > 1 ? "s" : "") : ""}}
                {{minutes > 0 ? minutes + ' minute' + (minutes > 1 ? "s" : "") : ""}}
                {{seconds > 0 ? seconds + ' second' + (seconds > 1 ? "s" : "") : ""}}
            </timer>
        </div>

        <div class="battle-description">
            <div ng-bind-html="renderHtml(VideoBattle.Description)"></div>


            <div ng-if="VideoBattle.VideoBattleStatus == @((int) VideoBattleStatus.Open)">
                <br />
                <br />
                <h3 class="text-center">Note: for the sake of fair judgement, all the battle videos must be watched before voting can be done.</h3>
            </div>
        </div>

    </div>

    <div class="actions-theater-view">
        <label for="chkAutoplay"><input id="chkAutoplay" type="checkbox" ng-model="Autoplay"/> Autoplay Videos</label> &middot; <a href="/VideoBattle/{{VideoBattle.SeName}}/@((int)VideoViewMode.Regular)"><i class="fa fa-reply"></i> Exit Theater Mode</a>
    </div>

    <div class="theater-view-videoplayer">
        @Html.Partial("mobSocial/VideoBattle/TheaterView.VideoPlayer")
    </div>

    <div class="theater-view-participants">
        <span ng-repeat="participant in VisibleParticipants">
            @Html.Partial("mobSocial/VideoBattle/ParticipantBox.TheaterView")
        </span>
    </div>

    <div ng-show="VisibleParticipants.length < VideoBattle.Participants.length" class="pagination-load-more">
        <a ng-click="LoadNextPage();" href="">LOAD MORE</a>
    </div>
</div>

<script type='text/javascript'>
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
    (function () {
        var gads = document.createElement('script');
        gads.async = true; gads.type = 'text/javascript';
        gads.src = 'http://www.googletagservices.com/tag/js/gpt.js';
        var node = document.getElementsByTagName('script')[0];
        node.parentNode.insertBefore(gads, node);
    })();
</script>
<script src="http://imasdk.googleapis.com/js/sdkloader/ima3.js" type="text/javascript"></script>