@using Nop.Plugin.Widgets.MobSocial.Enums
@using Nop.Plugin.Widgets.MobSocial.Models
@model Nop.Plugin.Widgets.MobSocial.Models.VideoBattlePublicModel

@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AppendTitleParts(Model.Title);

    Html.AppendMetaDescriptionParts(Model.Description);
    Html.AppendMetaKeywordParts(Model.Description);
    @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/VideoBattle/Includes.cshtml")


    var json = Json.Encode(Model);
    var videouploadUrl = "/VideoBattles/UploadVideo/";
    var timerFormat = "{{ddays}} day{{daysS}} {{hhours}} hour{{hoursS}} {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}";
    var maxSeconds = 0;
    var maxUnit = "";
    var now = DateTime.UtcNow;
    var endDate = DateTime.UtcNow;

    if (Model.VideoBattleStatus == VideoBattleStatus.Pending && Model.AcceptanceLastDate > now)
    {
        endDate = Model.AcceptanceLastDate;
    }
    else if (Model.VideoBattleStatus == VideoBattleStatus.Open)
    {
        endDate = Model.VotingLastDate;
    }
    var diffDate = endDate.Subtract(now);
    
    maxSeconds = Convert.ToInt32(diffDate.TotalSeconds);
   
    if (diffDate.TotalDays > 1)
    {
        maxUnit = "day";
    }
    else if (diffDate.TotalHours > 1)
    {
        maxUnit = "hour";
    }
    else if (diffDate.TotalMinutes > 1)
    {
        maxUnit = "minute";
    }
    else
    {
        maxUnit = "second";
    }

}

<h1 class="battle-page-heading">
    @Model.Title


</h1>

    @if (maxSeconds > 0)
    {
        <div class="battle-timer">
            @if (Model.VideoBattleStatus == VideoBattleStatus.Pending)
            {
                <text>
                    Starts in
                </text>
            }
            else
            {
                <text>
                    Ends in
                </text>
            }
            <timer countdown="@maxSeconds" max-time-unit="'@maxUnit'" interval="1000">@timerFormat</timer>
        </div>
    }

<div class="battle-participants" ng-controller="VideoBattlePageController as controller" ng-init="init(@json)">
    <div class="battle-status">
        <div ng-switch on="VideoBattle.VideoBattleStatus">
            <div ng-switch-when="@((int) VideoBattleStatus.Pending)">Battle currently visible only to the participants of the battle</div>
            <div ng-switch-when="@((int) VideoBattleStatus.Locked)">Battle Locked</div>
            <div ng-switch-when="@((int) VideoBattleStatus.Open)">Battle Open</div>
            <div ng-switch-when="@((int) VideoBattleStatus.Closed)">Battle Closed</div>
            <div ng-switch-when="@((int) VideoBattleStatus.Complete)">Battle Completed</div>
        </div>
    </div>
    <div class="battle-description">
        {{VideoBattle.Description}}
    </div>
    <span ng-repeat="participant in VideoBattle.Participants">
        @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/VideoBattle/ParticipantBox.cshtml")
    </span>

    @if (Model.IsEditable)
    {
        <div class="participant-box pending">

            <div class="participant-name">Invite to Battle</div>
            <div class="video-placeholder">
                <i class="fa fa-plus-circle big"></i>
                <angucomplete-alt id="customer-autocomplete"
                                  placeholder="Type name of a friend or a user..."
                                  selected-object="CustomerSelected"
                                  remote-api-handler="searchAPI"
                                  minlength="1"
                                  pause="100"
                                  image-field="PictureUrl"
                                  title-field="DisplayName"
                                  input-class="form-control form-control-small"></angucomplete-alt>
                <div class="challengees-to-invite" ng-show="challengees.length > 0">
                    <div ng-repeat="c in challengees">
                        <div class="selected-receiver">
                            {{c.DisplayName}}
                            <a ng-click="RemoveChallengee(c.Id)"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                </div>

                <div ng-if="invited" class="text-center">
                    Successfully invited selected users to battle.<br/> <a href="" onclick="window.location.reload()">Refresh</a> page to see their status.
                </div>
                <div class="clearfix clear"></div><br />
                <button ng-if="!processing" ng-click="InviteParticipants()">Invite Now</button>
            </div>
        </div>
    }

</div>