@model Nop.Plugin.WebApi.MobSocial.Models.VideoBattleQueryModel
@{
    Layout = "~/Plugins/Widgets.mobSocial/Views/mobSocial/_AppColumnsOne.cshtml";

    @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/VideoBattle/Includes.cshtml");

    var title = "";
    switch (Model.ViewType)
    {
        case "open":
            title = "Open Battles";
            break;
        case "open-to-join":
            title = "Join a Battle";
            break;
        case "challenged":
            title = "Accept the challenge";
            break;
        case "my":
            title = "My Battles";
            break;
        case "closed":
            title = "Closed Battles";
            break;
        case "search":
            title = "Showing battles matching '" + Model.SearchTerm + "'";
            break;

    }

    var json = Json.Encode(Model);
}


<div ng-controller="VideoBattlesPageController" ng-init="init(@json)">
    <div class="page-title">
        <h1>Video Battles</h1>
    </div>
    <div class="page-body">
        <div id="tabs">
            <ul class="resp-tabs-list">
                @if (Model.ViewType != "search")
                {
                    <li ng-click="GetVideoBattles('open')"><i class="fa fa-video-camera"></i> Open Battles</li>
                    <li ng-click="GetVideoBattles('open-to-join')"><i class="fa fa-flag"></i> Join a battle</li>
                    <li ng-click="GetVideoBattles('challenged')"><i class="fa fa-bullhorn"></i> Open Challenges</li>
                    <li ng-click="GetVideoBattles('my')"><i class="fa fa-user"></i> My Battles</li>
                    <li ng-click="GetVideoBattles('closed')"><i class="fa fa-trophy"></i> Closed Battles</li>
                }
                else
                {
                    <li><i class="fa fa-search"></i> @title</li>
                }
            </ul>
            <div class="resp-tabs-container">
                @for (var i = 0; i < (Model.ViewType == "search" ? 1 : 5); i++)
                {
                    <div>
                        @if (i == 0)
                        {
                            <div style="text-align: left; margin-bottom: 10px;margin-top: 20px">
                                <a href="@Url.RouteUrl("VideoBattleEditor")" class="c2a-maroon"><i class="fa fa-plus-circle"></i> Create Video Battle</a>
                            </div>
                        }
                        else if (i == 3)
                        {
                            <div style="text-align: right; margin-bottom: 10px">
                                <a href="@Url.RouteUrl("VideoBattleEditor")"><i class="fa fa-plus-circle"></i> Create Video Battle</a>
                            </div>

                        }
                        <div class="battles-container">
                            <div ng-if="processing">
                                Loading battles...
                            </div>
                            <div ng-if="VideoBattles.length == 0 && loaded" class="text-center">
                                No video battles found
                            </div>
                            <div ng-repeat="VideoBattle in VideoBattles">
                                @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/VideoBattle/VideoBattleBox.cshtml")
                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").easyResponsiveTabs();


    });
</script>