@using Nop.Plugin.WebApi.MobSocial.Enums
@using Nop.Plugin.Widgets.MobSocial.Constants
@model Nop.Plugin.Widgets.MobSocial.Models.BattleEditorModel
@{
    Layout = MobSocialConstant.ViewsPath + "/mobSocial/_AppColumnsOne.cshtml";

    Html.AppendTitleParts(Model.Name);

    Html.AppendMetaDescriptionParts(Model.Description);
    Html.AppendMetaKeywordParts(Model.Description);
    @Html.Partial("mobSocial/VideoBattle/Includes")

    var json = Json.Encode(Model);
}
<div data-ng-controller="VideoBattleEditorController" ng-init="init(@json)">
    <div ng-show="recordSaved" class="text-center">
        Video Battle @(Model.Id == 0 ? "created" : "updated") successfully. Redirecting to battle page to upload a video...
    </div>
    <form name="createBattleForm" ng-show="!recordSaved">
        <div class="fieldset">
            <div class="title">
                <strong>Video Battle Editor</strong>
            </div>
            <div id="editor-tabs">
                <ul class="resp-tabs-list">
                    <li><i class="fa fa-info"></i> Battle Details</li>
                    <li><i class="fa fa-trophy"></i> Prizes</li>
                </ul>
                <div class="resp-tabs-container">
                    <div>
                        <div class="form-fields">
                            <div class="inputs">
                                <label for="title">Name <span class="required">*</span></label>
                                <input type="text" name="name" id="name" data-ng-model="VideoBattle.Name" required />
                                <span ng-show="createBattleForm.name.$invalid && createBattleForm.name.$dirty">Name is required</span>
                            </div>
                            <div class="inputs">
                                <label for="description">Description</label>
                                <textarea name="description" id="description" data-ng-model="VideoBattle.Description"></textarea>
                            </div>
                            <div class="inputs">
                                <label>Voting Start Date</label>
                                <datetimepicker current-date="VideoBattle.VotingStartDate" include-time="1" min-date="@(DateTime.UtcNow.ToString())"></datetimepicker>
                            </div>
                            <div class="inputs">
                                <label>Voting End Date</label>
                                <datetimepicker current-date="VideoBattle.VotingEndDate" include-time="1" min-date="@(DateTime.UtcNow.ToString())"></datetimepicker>
                            </div>
                            <div class="inputs">
                                <label class="control-label">Battle Type</label>
                                <select data-ng-model="VideoBattle.VideoBattleType">
                                    <option value="@((int) VideoBattleType.Open)">@(VideoBattleType.Open)</option>
                                    <option value="@((int) VideoBattleType.InviteOnly)">@(VideoBattleType.InviteOnly)</option>
                                    <option value="@((int) VideoBattleType.SignUp)">@(VideoBattleType.SignUp)</option>
                                </select>

                            </div>
                            <div class="inputs" ng-show="VideoBattle.VideoBattleType == @((int) VideoBattleType.Open)">
                                <label class="control-label" for="maxcount">Maximum Participants Allowed</label>
                                <input type="number" min="0" step="1" name="MaximumParticipantCount" id="maxcount" data-ng-model="VideoBattle.MaximumParticipantCount" />
                                <em>0 for no limit</em>
                            </div>
                            <div class="inputs">
                                <label class="control-label" for="voting-payable">Enable Paid Voting</label>
                                <input type="checkbox" name="IsVotingPayable" id="voting-payable" data-ng-model="VideoBattle.IsVotingPayable" />
                            </div>
                            <div ng-show="VideoBattle.IsVotingPayable">
                                <div class="inputs">
                                    <label class="control-label" for="">Minimum Voting Charge</label>
                                    <input type="text" name="MinimumVotingCharge" id="minimum-voting-count" data-ng-model="VideoBattle.MinimumVotingCharge" />
                                </div>
                                <div class="inputs">
                                    <label class="control-label" for="can-voter-increase-voting-charge">Can voter change voting amount?</label>
                                    <input type="checkbox" name="CanVoterIncreaseVotingCharge" id="can-voter-increase-voting-charge" data-ng-model="VideoBattle.CanVoterIncreaseVotingCharge" />
                                </div>
                                <div class="inputs">
                                    <label class="control-label" for="pp-per-vote">Participant Percentage Per Vote</label>
                                    <input type="text" name="ParticipantPercentagePerVote" id="pp-per-vote" data-ng-model="VideoBattle.ParticipantPercentagePerVote" />
                                </div>
                            </div>
                            <div class="inputs">
                                <label class="control-label" for="sponsorship-supported">Enable Sponsorships</label>
                                <input type="checkbox" name="IsSponsorshipSupported" id="sponsorship-supported" data-ng-model="VideoBattle.IsSponsorshipSupported" /> 

                            </div>
                            <div ng-show="VideoBattle.IsSponsorshipSupported">
                                <div class="inputs">
                                    <label class="control-label" for="minimum-sponsorship-amount">Minimum Sponsorship Amount</label>
                                    <input type="text" name="MinimumSponsorshipAmount" id="minimum-sponsorship-amount" data-ng-model="VideoBattle.MinimumSponsorshipAmount"/>

                                </div>
                                <div class="inputs">
                                    <label class="control-label">Sponsorship Cash Distribution Type</label>
                                    <select data-ng-model="VideoBattle.SponsoredCashDistributionType">
                                        <option value="@((int) SponsoredCashDistributionType.TopWinnerGetsAll)">Top winner gets all</option>
                                        <option value="@((int) SponsoredCashDistributionType.AllWinnersGetShare)">All winners get some share</option>
                                    </select>
                                </div>
                            </div>
                            <div class="inputs">
                                <label class="control-label" for="autopost-timeline">Automatically post battle events to timeline</label>
                                <input type="checkbox" name="AutomaticallyPostEventsToTimeline" id="autopost-timeline" data-ng-model="VideoBattle.AutomaticallyPostEventsToTimeline" />

                            </div>
                        </div>
                        <div class="buttons text-center">
                            <div ng-show="processing">
                                Please wait...
                            </div>
                            <div ng-if="VideoBattle.VideoBattleStatus != @((int) VideoBattleStatus.Pending)">
                                The battle can't be edited now.
                            </div>
                            <div ng-if="VideoBattle.VideoBattleStatus == @((int) VideoBattleStatus.Pending)">
                                <input type="button" class="c2a-maroon" ng-show="!processing" ng-click="SaveVideoBattle()" value="@(Model.Id == 0 ? "Create" : "Update") Battle"/>

                            </div>
                        </div>
                    </div><!--battle details-->
                    <div>
                        @if (Model.Id == 0)
                        {
                            <p class="text-center">Please save video battle to add prizes</p>
                        }
                        else
                        {
                            <div class="text-right">
                                <a ng-click="NewPrize()"><i class="fa fa-plus-circle"></i> Add New Prize</a>
                            </div>
                            <div ng-repeat="prize in VideoBattle.Prizes">
                                <div class="prize-editor-block">
                                    <div class="winner-position">Winner Position # {{prize.WinnerPosition}}</div>
                                    <div class="form-fields">
                                        <div class="inputs">
                                            <label>Prize Type</label>
                                            <select ng-model="prize.PrizeType">
                                                <option value="@((int) VideoBattlePrizeType.FixedAmount)">Fixed Amount</option>
                                                <option value="@((int) VideoBattlePrizeType.PercentageAmount)">Percentage Amount</option>
                                                <option value="@((int) VideoBattlePrizeType.FixedProduct)">Fixed Product</option>
                                                <option value="@((int) VideoBattlePrizeType.Other)">Other</option>
                                            </select>
                                        </div>
                                        <div class="inputs" ng-show="prize.PrizeType == @((int) VideoBattlePrizeType.FixedAmount)">
                                            <label>Prize Amount</label>
                                            <input ng-model="prize.PrizeAmount" type="number" step="any" min="0" />
                                        </div>
                                        <div class="inputs" ng-show="prize.PrizeType == @((int) VideoBattlePrizeType.PercentageAmount)">
                                            <label>Prize Percentage</label>
                                            <input ng-model="prize.PrizePercentage" type="number" step="any" min="0" />
                                        </div>
                                        <div class="inputs" ng-show="prize.PrizeType == @((int) VideoBattlePrizeType.FixedProduct)">
                                            <label>Product</label>
                                            <input ng-model="prize.ProductId" type="number" min="0" />
                                        </div>
                                        <div class="inputs" ng-show="prize.PrizeType == @((int) VideoBattlePrizeType.Other)">
                                            <label>Other</label>
                                            <input ng-model="prize.PrizeOther" type="text" />
                                        </div>
                                        <div class="buttons text-center">
                                            <div ng-show="prize.Saved">Prize saved successfully!</div>
                                            <input type="button" class="c2a-maroon" ng-click="SavePrize(prize)" value="Save Prize"/>
                                            <a ng-click="DeletePrize(prize)">Remove</a>
                                        </div>
                                    </div>
                                </div>
                               

                            </div>
                        }
                    </div><!--prizes-->
                </div>
            </div>
        </div>

    </form>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#editor-tabs").easyResponsiveTabs(1);
    });
</script>
