@model ProfileIndexModel
@using Nop.Web.Models.Profile;
@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";

    Html.AddTitleParts(T("PageTitle.Profile").Text);

    var currentThemeName = EngineContext.Current.Resolve<IThemeContext>().WorkingThemeName;
    Html.AddScriptParts(ResourceLocation.Foot, "~/Themes/" + currentThemeName + "/Content/mobSocial/customer-profile.js");


}



<div class="page profile-page">
    
    <div class="clear">
    </div>
    <div class="profile-left" ng-controller="customerProfileController" model='{ "id": @Model.CustomerProfileId }' ng-model="customerProfile">

        @Html.Action("ProfilePicture", "MobSocial", new { customerId = Model.CustomerProfileId })
        <div><span style="text-align: right;">{{(customerProfile.Views > 1) ? customerProfile.Views + ' views' : customerProfile.Views + ' view'}}</span></div>
        <br />

        @Html.Action("AddFriendButton", "MobSocial", new { toCustomerId = Model.CustomerProfileId })
        <br />
        <br />
        <div class="profile-stat">

            <div class="send-pm-box">
                <span class="ui-icon ui-icon-mail-closed"></span>
                @Html.RouteLink(T("MobSocial.MessageButtonText").Text, "SendPM", new { toCustomerId = Model.CustomerProfileId }, new { @class = "friend-button" })
            </div>
        </div>
        <br />
        <br />


        @Html.Action("CustomerFriendBlock", "mobSocial", new { customerId = Model.CustomerProfileId, howMany = 10 })

        @*@Html.Action("CustomerSkateMovesBlock", "mobSocial", new { customerId = Model.CustomerProfileId, howMany = 10 })
        *@
        <br />
        @*        <div><b>Skate Moves</b></div>*@

    </div>

    <div class="profile-center-content">
        
        <h2>@Model.ProfileTitle</h2>
         
        <div class="page-body">
            @{
                var selectPostsTab = String.Empty;
                /*if (Model.ForumsEnabled && Model.PagingPosts)
                {
                    selectPostsTab = ".tabs('select', 1)";
                }*/
            }
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#tabs").tabs();
                    $("#tabs").tabs("option", "active", 0);
                });
            </script>
            <div id="tabs">
                <ul>
                    <li><a href="#tabs-1"><i class="fa fa-user"></i> @T("Profile.PersonalInfo")</a></li>
                    <li><a href="#tabs-2"><i class="fa fa-picture-o"></i> Pictures</a></li>
                    <li><a href="#tabs-3"><i class="fa fa-video-camera"></i> Videos</a></li>
                    <li><a href="#tabs-4"><i class="fa fa-group"></i> Friends</a></li>
                    @if (Model.ForumsEnabled)
                    {
                        <li><a href="#tabs-5"><i class="fa fa-list"></i> @T("Profile.LatestPosts")</a></li>
                    }
                    
                </ul>
                <div id="tabs-1">
                    @Html.Action("info", new { customerProfileId = Model.CustomerProfileId })
                </div>
                <div id="tabs-2">
                    @Html.Action("CustomerAlbumMain", "MobSocial", new { customerId = Model.CustomerProfileId } )
                </div>
                <div id="tabs-3">
                    
                </div>
                <div id="tabs-4">
                    @Html.Action("CustomerFriends", "MobSocial", new { customerId = Model.CustomerProfileId } )
                </div>
                @if (Model.ForumsEnabled)
                {
                    <div id="tabs-5">
                        @Html.Action("posts", new { customerProfileId = Model.CustomerProfileId, page = Model.PostsPage })
                    </div>
                }
                 
                

            </div>
        </div>
    
    </div>
    
    @*<div class="profile-right">
        $1$ &nbsp;<br/>
        <div>
            This is where events will go!
        </div>
        <div>
            And ads!
        </div>#1#
    </div>*@

</div>
