@using Nop.Web.Framework.Events;
@using Nop.Core.Infrastructure;
@using Nop.Services.Events;

@model Nop.Plugin.WebApi.MobSocial.Models.EventPageModel
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)
<div id="product-edit">
    <ul>
        <li @Html.RenderSelectedTabIndex(0, GetSelectedTabIndex())>
            @T("Admin.MobSocial.EventPage.Info")
        </li>
        <li @Html.RenderSelectedTabIndex(1, GetSelectedTabIndex())>
            @T("Admin.Common.SEO")
        </li>
        <li @Html.RenderSelectedTabIndex(2, GetSelectedTabIndex())>
            @T("Admin.MobSocial.EventPage.Pictures")
        </li>
        <li @Html.RenderSelectedTabIndex(3, GetSelectedTabIndex())>
            @T("Admin.MobSocial.EventPage.Hotels")
        </li>
        <li @Html.RenderSelectedTabIndex(4, GetSelectedTabIndex())>
            @T("Admin.MobSocial.EventPage.Tickets")
        </li>

    </ul>
    <div>
        @TabInfo()
    </div>
    <div>
        @TabSeo()
    </div>
    <div>
        @TabPictures()
    </div>
    <div>
        @TabHotels()
    </div>
    <div>
        @TabTickets()
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#product-edit").kendoTabStrip({
            animation: {
                open: {
                    effects: "fadeIn"
                }
            },
            select: tabstrip_on_tab_select
        });
    });
</script>

@{
    //custom tabs
    var eventMessage = new AdminTabStripCreated(this.Html, "eventpage-edit");
    EngineContext.Current.Resolve<IEventPublisher>().Publish(eventMessage);
    foreach (var eventBlock in eventMessage.BlocksToRender)
    {
        @eventBlock
    }
}

@*save selected tab index*@
<input type="hidden" id="selected-tab-index" name="selected-tab-index" value="@(GetSelectedTabIndex())">

@helper TabInfo()
{
    @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/Admin/ManageEventPage/_CreateOrUpdate.Info.cshtml", Model)
}
@helper TabPictures()
{
    @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/Admin/ManageEventPage/_CreateOrUpdate.Pictures.cshtml", Model)
}
@helper TabHotels()
{
    @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/Admin/ManageEventPage/_CreateOrUpdate.Hotels.cshtml", Model)
}

@helper TabSeo()
{
    @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/Admin/ManageEventPage/_CreateOrUpdate.SEO.cshtml", Model)
}

@helper TabTickets()
{
    @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/Admin/ManageEventPage/_CreateOrUpdate.Tickets.cshtml", Model)
}
@*@helper TabSpecificationAttributes()
    {
        @Html.Partial("_CreateOrUpdate.SpecificationAttributes", Model)
    }
    @helper TabAcl()
    {
        @Html.Partial("_CreateOrUpdate.Acl", Model)
    }
    @helper TabStores()
    {
        @Html.Partial("_CreateOrUpdate.Stores", Model)
    }

    @helper TabTierPrices()
    {
        @Html.Partial("_CreateOrUpdate.TierPrices", Model)
    }
    @helper TabProductAttributes()
    {
        @Html.Partial("_CreateOrUpdate.ProductAttributes", Model)
    }
    @helper TabDiscounts()
    {
        @Html.Partial("_CreateOrUpdate.Discounts", Model)
    }
    @helper TabRelatedProducts()
    {
        @Html.Partial("_CreateOrUpdate.RelatedProducts", Model)
    }
    @helper TabCrossSells()
    {
        @Html.Partial("_CreateOrUpdate.CrossSells", Model)
    }
    @helper TabAssociatedProducts()
    {
        @Html.Partial("_CreateOrUpdate.AssociatedProducts", Model)
    }
    @helper TabPurchasedWithOrders()
    {
        @Html.Partial("_CreateOrUpdate.PurchasedWithOrders", Model)
    }*@

