@model Nop.Plugin.Widgets.MobSocial.Models.EventPageModel
@{
    //resources for product tags input
    Html.AppendCssFileParts("~/Content/tagit/jquery.tagit.css");
    Html.AppendScriptParts("~/Scripts/tag-it.min.js");
}
@using Nop.Core.Domain.Catalog;
@using Nop.Services.Catalog;
@using System.Text;
<script type="text/javascript">
    $(document).ready(function () {
        
        @*$("#@Html.FieldIdFor(model => model.ProductTypeId)").change(toggleProductType);
      
        toggleProductType();
     *@
    });

    @*function toggleProductType() {
        var selectedProductTypeId = $("#@Html.FieldIdFor(model => model.ProductTypeId)").val();
        if (selectedProductTypeId == @(((int)ProductType.SimpleProduct).ToString())) {
                    $('#group-prices').show();
                $('#group-required-other-products').show();
                $('#group-giftcard').show();
                $('#group-downloads').show();
                $('#group-recurring').show();
                $('#group-shipping').show();
                $('#group-tax').show();
                $('#group-inventory').show();
            } else if (selectedProductTypeId == @(((int)ProductType.GroupedProduct).ToString())) {
                $('#group-prices').hide();
                $('#group-required-other-products').hide();
                $('#group-giftcard').hide();
                $('#group-downloads').hide();
                $('#group-recurring').hide();
                $('#group-shipping').hide();
                $('#group-tax').hide();
                $('#group-inventory').hide();
            }
    };*@
</script>
<table class="adminContent">
    @if (Model.Id > 0)
    {
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.Id):
            </td>
            <td class="adminData">
                @Model.Id.ToString()
                @Html.ValidationMessageFor(model => model.Id)
            </td>
        </tr>
    }
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Name):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.LocationName):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.LocationName)
            @Html.ValidationMessageFor(model => model.LocationName)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.LocationAddress1):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.LocationAddress1)
            @Html.ValidationMessageFor(model => model.LocationAddress1)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.LocationAddress2):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.LocationAddress2)
            @Html.ValidationMessageFor(model => model.LocationAddress2)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.LocationCity):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.LocationCity)
            @Html.ValidationMessageFor(model => model.LocationCity)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.LocationState):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.LocationState)
            @Html.ValidationMessageFor(model => model.LocationState)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.ZipPostalCode):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.ZipPostalCode)
            @Html.ValidationMessageFor(model => model.ZipPostalCode)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Phone):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Website):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Email):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.Description):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.Description, "RichEditor")
            @Html.ValidationMessageFor(model => model.Description)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.StartDate):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.StartDate)
            @Html.ValidationMessageFor(model => model.StartDate)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.EndDate):
        </td>
        <td class="adminData">
            @Html.EditorFor(model => model.EndDate)
            @Html.ValidationMessageFor(model => model.EndDate)
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.DateCreated):
        </td>
        <td class="adminData">
            @Model.DateCreated
        </td>
    </tr>
    <tr>
        <td class="adminTitle">
            @Html.NopLabelFor(model => model.DateUpdated):
        </td>
        <td class="adminData">
            @Model.DateUpdated
        </td>
    </tr>
</table>