@{    
    Layout = "~/Administration/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Manage Events";
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
        Manage Events
    </div>
    <div class="options">
        <a href="@Url.Action("Create", "ManageEventPage")" class="k-button">@T("Admin.Common.AddNew")</a>
        <input type="button" id="delete-selected" class="k-button" value="@T("Admin.Common.Delete.Selected")" />
    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="grid"></div>
            <script>
                $(document).ready(function () {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("GetAll", "ManageEventPage"))",
                                    type: "POST",
                                    dataType: "json"
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                                {
                                    field: "Id",
                                    headerTemplate: "<input id='mastercheckbox' type='checkbox'/>",
                                    headerAttributes: { style: "text-align:center" },
                                    attributes: { style: "text-align:center" },
                                    template: "<input type='checkbox' value='#=Id#' class='checkboxGroups'/>",
                                    width: 50
                                },
                            {

                                field: "PictureThumbnailUrl",
                                title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                template: '<img src="#=PictureThumbnailUrl#" />',
                                width: 200
                            },
                            {
                                field: "Name",
                                title: "Name",
                                width: 250
                            }, {
                                field: "Address",
                                title: "Address",
                                width: 250,
                                template: '#=Address#<br>#=LocationContactInfo#'
                            }, {
                                field: "DateCreated",
                                title: "DateCreated",
                                width: 100,
                            }, {
                                field: "DateUpdated",
                                title: "DateUpdated",
                                width: 100,
                            },
                             {
                                 field: "Id",
                                 title: "Edit",
                                 width: 150,
                                 template: '<a href="Edit/#=Id#">Edit</a>'
                             }]
                    });
                });
            </script>
        </td>
    </tr>
</table>
