@model Nop.Plugin.Widgets.MobSocial.Models.SongModel
@using Nop.Plugin.Widgets.MobSocial.Models;
@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
    Html.AppendTitleParts(Model.Name);

    Html.AppendMetaDescriptionParts(Model.MetaDescription);
    Html.AppendMetaKeywordParts(Model.MetaKeywords);

    Html.AddCssFileParts(ModelUtil.ContentPath + "/angular-xeditable/css/xeditable.css");
    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPath + "/angular-xeditable/js/xeditable.min.js");
    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPathMobSocial + "/song-pages/song-pages.js");
    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPathMobSocial + "/easyResponsiveTabs.js");
    Html.AddCssFileParts(ModelUtil.ContentPathMobSocial + "/easy-responsive-tabs.css");
    
    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPath + "/angular-file-upload-1.1.5/angular-file-upload.js");
    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPathMobSocial +"/fileupload.directive.js");

        
    var json = Json.Encode(Model);
    var maxUploadSizeSongFile = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Plugin.Widgets.MobSocial.mobSocialSettings>().SongFileMaximumUploadSize;
    var maxUploadSizeSampleSongFile = Nop.Core.Infrastructure.EngineContext.Current.Resolve<Nop.Plugin.Widgets.MobSocial.mobSocialSettings>().SongFileSampleMaximumUploadSize;
    

}
<script>
    var songModel = @Html.Raw(json);
</script>

<div data-ng-controller="SongPageDisplayController">
    <div class="artist-left-content">
        <div class="artist-page-image">
            <img src="@Model.MainPictureUrl" id="song-page-image" style="width:100%" />
            @if (Model.CanEdit && string.IsNullOrEmpty(Model.RemoteEntityId))
            {
                var uploadUrl = "/songs/UploadPicture/" + Model.Id;
                <button file-upload-button
                        id="profilepicture"
                        fieldname="profilepicture"
                        imagesrc="song-page-image"
                        uploadtype="image"
                        url="@uploadUrl">
                    <i class="fa fa-upload"></i> Upload Image
                </button>
            }
        </div>
        <div class="song-price a-center">
            @if (Model.CanEdit)
            {
            <text>Price: </text><a href="#" editable-text="song.Price" onbeforesave="UpdateSong('Price', $data)">{{ song.Price || '0.00' }}</a>


            }
            else
            {

                <h2>{{song.FormattedPrice}}</h2>
            }
           
        </div>
        <div class="song-page-action-links">
            <a>
                <i class="fa fa-music"></i> <span mob-preview-song-button trackid="{{song.TrackId}}" songid="{{song.Id}}" previewurl="{{song.PreviewUrl}}">Play</span>
            </a>
            <a buy-song-button affiliateurl="{{song.AffiliateUrl}}" productid="{{song.AssociatedProductId}}">
                <i class="fa fa-download"></i> Buy
            </a>          
            <a href="" share-song-button trackid="{{song.Id}}">
                <i class="fa fa-share"></i> Share
            </a>
        </div>
        <div class="similar-songs">
            <h2 class="text-center">Similar Songs</h2>
            <div ng-hide="songsLoaded">Loading...</div>
            <div ng-show="SimilarSongs.length == 0">No similar songs found</div>
            <div data-ng-repeat="song in SimilarSongs">
                @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/SongPage/SongBlock.cshtml")
            </div>
        </div>
    </div>
    <div class="artist-right-content">
        <div id="page-display-container">
            <div class="page-title">
                <h1>
                    @if (Model.CanEdit)
                    {
                        <a href="#" editable-text="song.Name" onbeforesave="UpdateSong('Name', $data)">{{ song.Name || 'empty' }}</a>
                       

                    }
                    else
                    {

                        <text>{{ song.Name}}</text>
                    }
                </h1>
                @if (Model.CanEdit)
                {
                    <em>
                        {{ song.Published ? '' : 'The song is not live. Go to Song Files tab to publish'  }}
                    </em>
                }
            </div>
            <div id="tabs">
                <ul class="resp-tabs-list">
                    <li><i class="fa fa-tags"></i> About</li>
                    @if (Model.CanEdit)
                    {
                        <li><i class="fa fa-music"></i> Song Files</li>
                    }
                    @if (Model.CanDelete)
                    {
                        <li><i class="fa fa-times"></i> Delete Page</li>
                    }
                </ul>

                <div class="resp-tabs-container">
                    <div>
                        @if (Model.CanEdit)
                        {
                            <span href="#" editable-textarea="song.Description" onbeforesave="UpdateSong('Description', $data)" e-rows="7" e-cols="40">
                                {{ song.Description || 'no description' }}
                            </span>
                        }
                        else
                        {
                            <text >{{song.Description || 'No Description Available'}}</text>
                        }
                    </div>
                    @if (Model.CanEdit)
                    {
                        <div>
                            <table class="table-form">
                                <tr>
                                    <td>
                                        <label>Song File (max. @(maxUploadSizeSongFile / 1024)MB):</label><br/>                                        
                                        <button file-upload-button
                                                id="songfile"
                                                fieldname="SongFile"
                                                extradata='{"SongId": {{song.Id}}, "FieldName": "SongFile"}'
                                                uploadtype="music"
                                                maxsize="@(maxUploadSizeSongFile * 1024)"
                                                url="/songs/UploadSongFile">
                                            <i class="fa fa-upload"></i> Upload Song File
                                        </button><br/>
                                        <em>
                                            Note: You may only upload songs that you own and that are not protected by another's copyright or international treaty
                                        </em>
                                        <br /><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Song File Sample (max. @(maxUploadSizeSampleSongFile / 1024)MB):</label><br />                                     
                                        <button file-upload-button
                                                id="songsamplefile"
                                                fieldname="SampleFile"
                                                extradata='{"SongId": {{song.Id}}, "FieldName": "SampleFile"}'
                                                uploadtype="music"
                                                maxsize="@(maxUploadSizeSampleSongFile * 1024)"
                                                url="/songs/UploadSongFile">
                                            <i class="fa fa-upload"></i> Upload Sample Song File
                                        </button>
                                        <br /><br />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label>Publish:</label><br /><br />
                                        <span href="#" editable-select="song.Published" e-ng-options="s.value as s.text for s in statuses" onbeforesave="UpdateSong('Published', $data)" e-rows="7" e-cols="40">
                                            {{ song.Published == 1 ? 'Published' : 'Not Published' || 'Not Published' }}
                                        </span>
                                        
                                    </td>
                                </tr>
                            </table>
                        </div>
                    }
                    @if (Model.CanDelete)
                    {

                        <div>
                            Deleting a song page will delete all the data associated with song. Are you sure you wish to delete this page?<br />
                            <input type="button" ng-click="DeleteSong()" value="Delete Page" />
                        </div>
                    }
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#tabs").easyResponsiveTabs();
                });
            </script>

        </div>
    </div>
</div>

