@model Nop.Plugin.WebApi.MobSocial.Models.CustomerProfilePublicModel
@using Nop.Core
@using Nop.Core.Domain.Customers
@using Nop.Core.Infrastructure
@using Nop.Plugin.Widgets.MobSocial.Feature
@{
    @Html.Partial("mobSocial/CustomerProfile/Includes")
    @Html.Partial("mobSocial/Friends/Includes")
    @Html.Partial("mobSocial/VideoBattle/Includes")
    var json = Json.Encode(Model);
    var currentCustomer = EngineContext.Current.Resolve<IWorkContext>().CurrentCustomer;
    var isLoggedIn = !currentCustomer.IsGuest();
}
<div ng-controller="customerProfileController" ng-init="init(@json)">
    <div class="cover-area">
        <div class="cover">
            <div class="bgcover">
                <img ng-src="{{Profile.TemporaryCoverImageUrl || Profile.CoverImageUrl}}" />
                <div class="quick-info">
                    <table>
                        <tr>
                            <td>
                                <h4>
                                    <i class="fa fa-eye"></i>
                                    <div>Views</div>
                                </h4>
                                {{Profile.ViewCount}}
                            </td>
                            <td>
                                <h4>
                                    <i class="fa fa-users"></i>
                                    <div>Friends</div>
                                </h4>
                                {{Profile.FriendCount}}
                            </td>
                            <td>
                                <h4>
                                    <i class="fa fa-bell"></i>

                                    <div>Followers</div>
                                </h4>
                                {{Profile.FollowerCount}}
                            </td>
                        </tr>
                    </table>
                    <div class="cover-buttons">
                        @if (Model.IsEditable)
                        {
                            <div class="text-right">
                                <a class="edit-button button" onclick="window.location.href = '@Url.Action("Info", "Customer")'"><i class="fa fa-pencil"></i> Edit Info</a>
                            </div>
                        }
                        else
                        {
                            @Html.RouteLink(T("MobSocial.MessageButtonText").Text, "SendPM", new { toCustomerId = Model.CustomerId }, new { @class = "button " })
                            <friend-button class="friend-button" friendstatus="Profile.FriendStatus" customerid="Profile.CustomerId"></friend-button>
                            <follow-button class="follow-button" followstatus="Profile.FollowingStatus" entityname="customer" entityid="{{Profile.CustomerId}}"></follow-button>
                        }
                    </div>

                </div>
            </div>
            @if (Model.IsEditable)
            {
                //cover image uploader

                <div class="cover-upload-area">
                    @{
                        var uploadUrl = "/api/customerprofile/uploadpicture";
                    }
                    <div ng-show="!Profile.TemporaryCover">
                        <a file-upload-button
                           class="upload-button"
                           id="coverimage_@Model.CustomerId"
                           fieldname="CoverFile"
                           extradata='{"CustomerId": "@Model.CustomerId", "UploadType": "Cover"}'
                           uploadtype="image"
                           onsuccessitem="UploadCoverSuccess"
                           url="@uploadUrl">
                            <i class="fa fa-camera"></i>
                        </a>
                    </div>
                    <div ng-show="Profile.TemporaryCover">
                        <div class="keep-cover">
                            <div class="title">Do you wish to keep or discard this cover?</div>
                            <a ng-click="SetPictureAs('cover', Profile.TemporaryCoverId, true)"><i class="fa fa-check"></i> Keep</a>
                            <a ng-click="SetPictureAs('cover', Profile.TemporaryCoverId, false)"><i class="fa fa-times"></i> Discard</a>
                        </div>
                    </div>

                </div>
                        }
        </div>
    </div>
    <div class="profile-left">

        <div class="profile-picture">
            <img ng-src="{{Profile.TemporaryProfileImageUrl || Profile.ProfileImageUrl}}" />
            @if (Model.IsEditable)
            {
                var profileUploadUrl = "/api/customerprofile/uploadpicture";

                <div ng-show="!Profile.TemporaryProfileImage" class="profile-upload-button">
                    <a file-upload-button
                       id="profileimage_@Model.CustomerId"
                       fieldname="CoverFile"
                       uploadtype="image"
                       onsuccessitem="UploadProfileImageSuccess"
                       url="@profileUploadUrl">
                        <i class="fa fa-camera"></i> Change
                    </a>
                </div>
            }
        </div>

        <div ng-show="Profile.TemporaryProfileImage">
            <div class="keep-cover">
                <div class="title">Do you wish to keep or discard this image?</div>
                <a ng-click="SetPictureAs('avatar', Profile.TemporaryProfileImageId, true)"><i class="fa fa-check"></i> Keep</a>
                <a ng-click="SetPictureAs('avatar', Profile.TemporaryProfileImageId, false)"><i class="fa fa-times"></i> Discard</a>
            </div>
        </div>
        <div class="profile-customer-name" ng-show="!Profile.TemporaryProfileImage">
            <h2>{{Profile.CustomerName}}</h2>
        </div>
        <div ng-controller="SkillController" ng-init="getUserSkills(@Model.CustomerId)">
            <div class="profile-meta-box" ng-show="(skills && skills.length > 0) || @(Model.IsEditable ? "true" : "false")">
                <div class="box-header">
                    Skills
                </div>
                <div class="box-content">

                    <div class="skills-list" ng-show="!skill">
                        <div class="skill-item" ng-repeat="s in skills track by s.Id">
                            <div class="skill-name">
                                {{s.SkillName}}
                                @if (Model.IsEditable)
                                {
                                    <small><a ng-click="edit(s)" class="edit-button"><i class="fa fa-pencil"></i> edit</a></small>
                                }
                            </div>
                            <div class="skill-description">
                                {{s.Description}}
                            </div>
                        </div>
                        @if (Model.IsEditable)
                        {
                            <div class="text-center">
                                <a ng-click="edit()" class="button"><i class="fa fa-plus"></i> Add New Skill</a>
                            </div>
                        }

                    </div>
                    @if (Model.IsEditable)
                    {
                        <div ng-show="skill" class="skill-editor">
                            <a ng-if="skill.Id > 0" ng-click="delete(skill.Id)" class="delete-button"><i class="fa fa-times"></i> Delete</a>
                            <label for="skill-autocomplete">Name</label>
                            <angucomplete-alt id="skill-autocomplete"
                                              placeholder="Start typing a new skill"
                                              selected-object="selectSkill"
                                              remote-api-handler="autocompleteSkills"
                                              remote-url-data-field="AutoComplete.Skills"
                                              minlength="1"
                                              pause="300"
                                              title-field="SkillName"
                                              name="skill-autocomplete"
                                              type="text"
                                              input-class="form-control"></angucomplete-alt>

                            <label for="skillDescription">Description</label>
                            <textarea id="skillDescription" ng-model="skill.Description"></textarea>

                            <label for="skillDisplayOrder">Display Order</label>
                            <input type="number" id="skillDisplayOrder" ng-model="skill.DisplayOrder" />

                            <button ng-click="postSkill(skill)">Save</button>
                            <button ng-click="cancelEdit(skill)">Cancel</button>
                        </div>
                    }

                </div>
            </div>

        </div>
        <div class="send-pm-box hidden"><a href="#" onclick="sendRequestViaMultiFriendSelector()">&nbsp;<i class="fa fa-paper-plane"></i> Invite Friends&nbsp;</a></div>

        @Html.Action("CustomerFriendBlock", "mobSocial", new { customerId = Model.CustomerId, howMany = 10 })
        @if (FeatureToggle.FavoriteSongEnabled)
        {
            <div>
                <song-list song-list-name="Favorite Skate Songs" customer="customerProfile"></song-list>
            </div>
        }
    </div>
    <div class="profile-center-content">

        <div class="page-body">
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#tabs").easyResponsiveTabs();
                });
            </script>
            <div id="tabs">
                <ul class="resp-tabs-list">
                    @if (FeatureToggle.TimeLinePostsEnabled)
                    {
                        <li><i class="fa fa-clock-o"></i> Timeline</li>
                    }
                    <li><i class="fa fa-user"></i> @T("Profile.PersonalInfo")</li>
                    <li><i class="fa fa-picture-o"></i> Pictures</li>
                    <li><i class="fa fa-video-camera"></i> Video Battles</li>
                    <li><i class="fa fa-group"></i> Friends</li>
                    @if (Model.ProfileIndexModel.ForumsEnabled)
                    {
                        <li><i class="fa fa-list"></i> @T("Profile.LatestPosts")</li>
                    }
                </ul>


                <div class="resp-tabs-container">
                    @if (FeatureToggle.TimeLinePostsEnabled)
                    {
                        <div>
                            @if (FeatureToggle.MobLiveStreamEnabled)
                            {
                                <mob-live-video customer="customerProfile"></mob-live-video>
                            }
                            @if (FeatureToggle.TimeLinePostsEnabled)
                            {
                                @Html.Action("TimelineWidget", "Timeline", new { customerId = Model.CustomerId })
                            }
                        </div>
                    }
                    <div>
                        @Html.Action("Info", "Profile", new { CustomerId = Model.CustomerId })
                    </div>
                    <div>
                        @Html.Action("CustomerAlbumMain", "MobSocial", new { customerId = Model.CustomerId })
                    </div>
                    <div>
                        <div class="text-center" ng-show="VideoBattles.length == 0">
                            The user has not created any battles.
                        </div>
                        <div class="col-md-12" ng-repeat="VideoBattle in VideoBattles">
                            @Html.Partial("mobSocial/VideoBattle/VideoBattleBox")
                        </div>
                    </div>
                    <div>
                        @if (isLoggedIn)
                        {
                            @Html.Action("CustomerFriends", "Friends", new {customerId = Model.CustomerId})
                        }
                        else
                        {
                            <p>Please login to view {{Profile.CustomerName}}'s friends</p>
                        }
                    </div>
                    @if (Model.ProfileIndexModel.ForumsEnabled)
                    {
                        <div>
                            @Html.Action("Posts", "Profile", new { CustomerId = Model.CustomerId, page = Model.ProfileIndexModel.PostsPage })
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>