@model Nop.Plugin.Widgets.MobSocial.Models.SocialNetworkNavigationModel           
<div class="block block-account-navigation">
    <div class="title">
        <strong>Social Network</strong>
    </div>
    <div class="clear">
    </div>
    <div class="listbox">
        <ul>
            
            <li><a href="@Url.RouteUrl("CustomerAvatar")">@T("Account.Avatar")</a></li> 
            <li><a href="@Url.RouteUrl("ArtistsPage", new { action = "MyArtistPages" })">My Artists</a></li> 
            <li><a href="@Url.RouteUrl("SongsPage", new { action = "SharedSongs" })">Received Songs</a></li> 
            <li><a href="@Url.RouteUrl("SongsPage", new { action = "PurchasedSongs" })">Purchased Songs</a></li> 
            <li><a href="@Url.RouteUrl("VideoBattles")">Video Battles</a></li>

           <li><a href="@Url.Action("FriendRequests", "MobSocial")">@Model.FriendRequestsLinkText</a></li>
            <li>Create Event (coming soon)</li>

            <li><a href="@Url.Action("MyHealth", "MobSocial")">My Health</a></li>
            <li>My Health</li>
           
        </ul>
    </div>
</div>
