
@{    
    ViewBag.Title = "Manage Events";
}

<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Administration/Content/images/ico-configuration.png")" alt="" />
        Manage Events

    </div>
</div>
<table class="adminContent">
    <tr>
        <td>
            <div id="grid"></div>

            <script>
                $(document).ready(function () {
                    $("#grid").kendoGrid({
                        dataSource: {
                            type: "json",
                            transport: {
                                read: {
                                    url: "@Html.Raw(Url.Action("GetAll", "ManageEventPage"))",
                                    type: "POST",
                                    dataType: "json"
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: true,
                            serverFiltering: true,
                            serverSorting: true
                        },
                        pageable: {
                            refresh: true,
                            numeric: false,
                            previousNext: false,
                            info: false
                        },
                        editable: {
                            confirmation: false,
                            mode: "inline"
                        },
                        scrollable: false,
                        columns: [
                             {

                                 field: "PictureThumbnailUrl",
                                 title: "@T("Admin.Catalog.Products.Fields.PictureThumbnailUrl")",
                                 template: '<img src="#=PictureThumbnailUrl#" />',
                                 width: 200
                             },
                            {
                            field: "FriendlyName",
                            title: "@T("Admin.Configuration.Tax.Providers.Fields.FriendlyName")",
                            width: 250
                        }, {
                            field: "SystemName",
                            title: "@T("Admin.Configuration.Tax.Providers.Fields.SystemName")",
                            width: 250
                        }, {
                            field: "IsPrimaryTaxProvider",
                            title: "@T("Admin.Configuration.Tax.Providers.Fields.IsPrimaryTaxProvider")",
                            width: 100,
                            headerAttributes: { style: "text-align:center" },
                            attributes: { style: "text-align:center" },
                            template: '<img src="@Url.Content("~/Administration/Content/images/")active-#=IsPrimaryTaxProvider#.gif" />'
                        }, {
                            field: "SystemName",
                            title: "@T("Admin.Configuration.Tax.Providers.Fields.MarkAsPrimaryProvider")",
                            width: 200,
                            template: '<a href="@Url.Content("~/Admin/Tax/MarkAsPrimaryProvider/")?systemName=#=SystemName#" class="k-button">@T("Admin.Configuration.Tax.Providers.Fields.MarkAsPrimaryProvider")</a>'
                        }, {
                            field: "SystemName",
                            title: "@T("Admin.Configuration.Tax.Providers.Configure")",
                            width: 150,
                            template: '<a href="ConfigureProvider?systemName=#=SystemName#">@T("Admin.Configuration.Tax.Providers.Configure")</a>'
                        },
                         {
                             field: "Id",
                             title: "Edit",
                             width: 150,
                             template: '<a href="ManageEventPage/Edit/#=Id#">Edit</a>'
                        }]
                    });
                });
            </script>
        </td>
    </tr>
</table>
