@model Nop.Plugin.Widgets.MobSocial.Models.CustomerAlbumModel

@{
    Html.AddScriptParts("~/Scripts/slimbox2.js");
    Html.AddScriptParts("~/Themes/Digital/Content/mobSocial/customer-albums.js");
}

<script type="text/javascript">

    var mobSocialDialog = null;
    var confirmDialog = null;
    var currentPictureId = null;
    var okDialog = null;

    $(document).ready(function () {
      
        /*todo:make these ok and confirm dialogs global to mobSocial and reusable to reduce code and development time.*/
        mobSocialDialog = $('#dialog-modal').dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                "OK": function () {
                    okDialog.dialog("close");
                }
            }
        });
        
        okDialog = $('#dialog-ok').dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                "OK": function() {
                            okDialog.dialog("close");
                    }
                }
        });
        
        confirmDialog = $('#dialog-confirm').dialog({
            autoOpen: false,
            modal: true,
            buttons: {
                "Confirm": function() {
                    var postData = { customerAlbumPictureId: currentPictureId };
                    $.ajax({
                        type: 'Post',
                        url: Website.RootUrl + '/mobSocial/DeleteCustomerAlbumPicture',
                        data: postData,
                        success: function(data) {
                            var pictureDeleted = $('.customer-album-picture-block[data-customerAlbumPictureId="' + currentPictureId + '"]');

                            alert(pictureDeleted);

                            pictureDeleted.remove();

                            confirmDialog.dialog("close");

                        },
                        error: function(request, status, error) {

                            okDialog.dialog('option', 'title', 'Upload Picture');
                            okDialog.html(request.responseText);
                        }
                    });
                },
                "Cancel": function() {
                    $(this).dialog("close");
                }
            }
        });


        $('.add-picture-button').click(function () {
            $('#dialog-modal').dialog('open');
            
            mobSocialDialog.data("uiDialog")._title = function (title) {
                title.html(this.options.title);
            };
        });
        

        $('.delete-picture-button').click(function () {

            currentPictureId = $(this).attr('data-customerAlbumPictureId');
            confirmDialog.dialog('open');


        });
        




        
    });
    
</script>

<div id="dialog-ok"></div>

<div id="dialog-modal" title="Upload Picture">
    Choose a picture to upload:
    
    @using (Html.BeginForm("UploadAlbumPicture", "MobSocial", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadPictureForm" }))
    {
        <input type="hidden" name="albumId" value="@Model.AlbumId"/>
        <img id="previewPicture" src="#" alt="Picture Preview" width="190" />
        <input type="file" name="pictureFile" />
        <br/><br/>
        <input type="submit" value="OK" />
    }

</div>

<div id="dialog-confirm" title="Delete Picture?">Are you sure you want to delete this picture?</div>

<div class="customer-album-container">
    
    <div class="add-picture-button">
        <i class="fa fa-camera"></i>
        <span class="add-picture-button-text" title="Add Picture">Add Picture</span>
    </div>

    @foreach (var picture in Model.Pictures)
    {
        <div class="customer-album-picture-block" data-customerAlbumPictureId="@picture.Id">
           
                <span class="delete-picture-button" data-customerAlbumPictureId="@picture.Id" title="Delete Picture"><i class="fa fa-trash-o"></i></span>

                <a href="@picture.Url" title="@picture.Caption" data-gallery="lightbox-p"><img src="@picture.ThumbnailUrl" alt="@picture.AltText" title="@picture.AltText" /></a>
                <br/>
                <span class="customer-album-picture-caption">@picture.Caption</span>
            
        </div>
    }
</div>




