@model Nop.Plugin.Widgets.MobSocial.Models.ArtistPageModel
@using Nop.Plugin.Widgets.MobSocial.Constants
@using Nop.Plugin.Widgets.MobSocial.Models;
@{
    Layout = "~/Plugins/Widgets.mobSocial/Views/mobSocial/_AppColumnsOne.cshtml";
    Html.AppendTitleParts(Model.Name);

    Html.AppendMetaDescriptionParts(Model.MetaDescription);
    Html.AppendMetaKeywordParts(Model.MetaKeywords);

    Html.AddScriptParts(ResourceLocation.Foot, MobSocialConstant.PluginContentPathInternal + "/js/controllers/artist-pages/artist-pages.js");
    Html.AddScriptParts(ResourceLocation.Foot, MobSocialConstant.PluginContentPathInternal + "/js/controllers/song-pages/song-pages.js");


    var json = Json.Encode(Model);

}
<script>
    var artistModel = @Html.Raw(json);
</script>


<div class="artist-left-content">
    <div class="artist-page-image">
        <img src="@Model.MainPictureUrl" id="artist-page-image" style="width:100%" />
        @if (Model.CanEdit)
        {
            var uploadUrl = "/artists/UploadPicture/" + Model.Id;
            <button file-upload-button
                    id="profilepicture"
                    fieldname="profilepicture"
                    imagesrc="artist-page-image"
                    url="@uploadUrl">
                <i class="fa fa-upload"></i> Upload
            </button>
        }

    </div>
    <div data-ng-controller="ArtistPageSongsController">
        <h2 class="text-center">Artist Songs</h2>
        @if (Model.CanEdit)
        {
            <button ng-click="GotoSongEditor()"><i class="fa fa-music"></i> Add Song</button>
        }
        <div ng-hide="songsLoaded">Loading...</div>
        <div ng-show="songs.length == 0">No songs found</div>
        <div data-ng-repeat="song in songs">
            @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/SongPage/SongBlock.cshtml")
        </div>
        
    </div>
</div>
<div class="artist-center-content">
    <div id="page-display-container" data-ng-controller="ArtistPageDisplayController">
        <div class="page-title">
            <h1>
                @if (Model.CanEdit)
                {
                    <a href="#" editable-text="artist.Name" onbeforesave="UpdateArtist('Name', $data)">{{ artist.Name || 'empty' }}</a>

                }
                else
                {

                    <text>{{ artist.Name}}</text>
                }
            </h1>



        </div>

        <div id="tabs">
            <ul class="resp-tabs-list">
                <li><i class="fa fa-info"></i> Biography</li>
                <li><i class="fa fa-tags"></i> About</li>
                @if (Model.CanDelete)
                {
                    <li><i class="fa fa-users"></i> Page Managers</li>
                    <li><i class="fa fa-music"></i> Purchased Songs</li>
                    <li><i class="fa fa-paypal"></i> Payments</li>
                    <li><i class="fa fa-times"></i> Delete</li>
                }
            </ul>



            <div class="resp-tabs-container">
                <div>
                    @if (Model.CanEdit)
                    {
                        <span href="#" editable-textarea="artist.Description" onbeforesave="UpdateArtist('Description', $data)" e-rows="7" e-cols="40">
                            {{ artist.Description || 'no description' }}
                        </span>
                    }
                    else
                    {
                        <text >{{artist.Description}}</text>
                    }

                </div>
                <div>
                    <p class="artist-spec-item">
                        @if (Model.CanEdit)
                        {
                            <label>Gender:</label><a href="#" editable-text="artist.Gender" onbeforesave="UpdateArtist('Gender', $data)">{{ artist.Gender || 'enter gender'}}</a>

                        }
                        else
                        {
                            <label>Gender:</label><text>{{ artist.Gender || '-'}}</text>
                        }
                    </p>
                    <p class="artist-spec-item">
                        @if (Model.CanEdit)
                        {
                            <label>HomeTown:</label><a href="#" editable-text="artist.HomeTown" onbeforesave="UpdateArtist('HomeTown', $data)">{{ artist.HomeTown || 'enter hometown'}}</a>

                        }
                        else
                        {
                            <label>HomeTown:</label><text>{{ artist.HomeTown || '-'}}</text>
                        }
                    </p>
                    <p class="artist-spec-item">
                        @if (Model.CanEdit)
                        {
                            <label>Short Description:</label><a href="#" editable-textarea="artist.ShortDescription" onbeforesave="UpdateArtist('ShortDescription', $data)">{{ artist.ShortDescription || 'edit short description'}}</a>

                        }
                        else
                        {
                            <label>Gender:</label><text>{{ artist.ShortDescription || ''}}</text>
                        }
                    </p>

                </div>

                @if (Model.CanDelete)
                {
                    <!--begin page managers-->
                    <div>
                        <table class="table-form">
                            <tr>
                                <td>
                                    <p>
                                        Type the name of a friend to add as page manager of this page.
                                    </p>
                                    <div class="control-group">
                                        <angucomplete-alt id="friend-autocomplete" placeholder="Type name of a friend..."
                                                          selected-object="newPageManager"
                                                          local-data="eligibleManagers"
                                                          search-fields="CustomerDisplayName"
                                                          minlength="1"
                                                          pause="100"
                                                          image-field="ProfileImageUrl"
                                                          title-field="CustomerDisplayName"
                                                          input-class="form-control form-control-small"></angucomplete-alt>
                                        <input ng-show="newPageManager!=null" type="button" ng-click="AddPageManager()" value="Add as page manager" />



                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <h1 class="text-center">Current Managers</h1>
                        <div class="manager-list">
                            <div ng-hide="managersLoaded">Loading...</div>
                            <div ng-show="managers.length == 0">There are no managers for this page</div>
                            <div class="manager-block" ng-repeat="manager in managers">
                                <div class="manager-image">
                                    <img ng-src="{{manager.ProfileImageUrl}}" />
                                </div>
                                <div class="manager-title">
                                    <a href="{{manager.ProfileUrl}}">{{manager.CustomerDisplayName}}</a>
                                    <div class="actions">
                                        <a href="" ng-click="DeletePageManager(manager.Id)"><i class="fa fa-times"></i> Remove as Manager</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script>
                            window.onload = function(){
                                angular.element(document.getElementById('page-display-container')).scope().GetEligibleManagers();

                            }
                        </script>

                    </div>
                    <!--end page managers-->

                    <!--begin purchased songs-->
                    <div>
                        <div class="a-center" ng-show="PurchasedSongs.length == 0">No songs have been purchased so far</div>
                        <table class="data-table" ng-show="PurchasedSongs.length > 0">
                            <tr>
                                <td class="a-right" colspan="5">
                                    Jump To Page: <select data-ng-model="PurchasedSongsPage" data-ng-options="i for i in PageOptions"></select>
                                </td>
                            </tr>
                            <tr>
                                <th>Song Name</th>
                                <th>Purchased On</th>
                                <th>Gross Amount</th>
                                <th>Fee</th>
                                <th>Net Amount</th>
                            </tr>
                            <tr ng-show="!PurchasedSongsLoaded">
                                <td class="a-center" colspan="5">Loading...</td>
                            </tr>
                            <tr ng-repeat="song in PurchasedSongs">
                                <td>{{song.SongName}}</td>
                                <td>{{song.PurchasedOn}}</td>
                                <td>{{song.SellPrice}}</td>
                                <td>{{song.FeeAmount}}</td>
                                <td>{{song.NetPrice}}</td>
                            </tr>
                           
                        </table><br/>
                        <table width="100%" ng-show="PurchasedSongs.length > 0">
                            <tr>
                                <td colspan="5" class="a-right">
                                    <table style="float:right">
                                        <tr>
                                            <td class="a-left" style="width:110px"><strong>Summary</strong></td>
                                            <td class="a-right"></td>
                                        </tr>
                                        <tr>
                                            <td class="a-left"><strong>Total Sales:</strong></td>
                                            <td class="a-right">{{TotalSales}}</td>
                                        </tr>
                                        <tr>
                                            <td class="a-left"><strong>Total Sell Price:</strong></td>
                                            <td class="a-right">{{TotalSellPrice}}</td>
                                        </tr>
                                        <tr>
                                            <td class="a-left"><strong>Total Fee:</strong></td>
                                            <td class="a-right">{{TotalFeeAmount}}</td>
                                        </tr>
                                        <tr>
                                            <td class="a-left"><strong>Total Net Price:</strong></td>
                                            <td class="a-right">{{TotalNetPrice}}</td>
                                        </tr>
                                    </table>


                                </td>

                            </tr>
                        </table>
                    </div>
                    <!--end purchased songs-->
                    
                    
                    <!--begin payments page-->
                    <div>
                        <p>@T("ArtistPages.SendPaymentMessageText")</p>
                        <strong ng-show="PaymentMethodSaved">Payment Method saved successfully</strong>
                        <table class="table-form">
                            <tr>
                                <td>
                                    <div class="control-group">
                                        <label class="control-label" for="name">Payment Type</label><br />
                                        <select data-ng-model="PaymentMethod.PaymentTypeId" value="{{PaymentMethod.PaymentTypeId}}" >
                                            <option ng-repeat="item in PaymentTypes" value="{{item.value}}">{{item.text}}</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div ng-if="PaymentMethod.PaymentTypeId == '1'">
                                        <div class="control-group">
                                            <label class="control-label" for="paypalemail">Paypal Email</label><br />
                                            <input ng-model="PaymentMethod.PaypalEmail" id="paypalemail" />
                                        </div>
                                    </div>
                                    <div ng-if="PaymentMethod.PaymentTypeId == '2'">
                                        <div class="control-group">
                                            <label class="control-label" for="bankname">Bank Name</label><br />
                                            <input ng-model="PaymentMethod.BankName" id="bankname" />
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="routingnumber">Routing Number</label><br />
                                            <input ng-model="PaymentMethod.RoutingNumber" id="routingnumber" />
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="accountnumber">Account Number</label><br />
                                            <input ng-model="PaymentMethod.AccountNumber" id="accountnumber" />
                                        </div>
                                    </div>
                                    <div ng-if="PaymentMethod.PaymentTypeId == '3'">
                                        <div class="control-group">
                                            <label class="control-label" for="payableto">Payable To</label><br />
                                            <input ng-model="PaymentMethod.PayableTo" id="payableto" />
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="address">Address</label><br />
                                            <input ng-model="PaymentMethod.Address" id="address" />
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="city">City</label><br />
                                            <input ng-model="PaymentMethod.City" id="city" />
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="country">Country</label><br />
                                            <input ng-model="PaymentMethod.Country" id="country" />
                                        </div>
                                        <div class="control-group">
                                            <label class="control-label" for="postalcode">Postal Code</label><br />
                                            <input ng-model="PaymentMethod.PostalCode" id="postalcode" />
                                        </div>
                                    </div>
                                    <div ng-show="PaymentMethod.PaymentTypeId">
                                        <input type="button" value="Save" ng-click="SavePaymentMethod()" />
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!--end payments page-->
                    
                    <!--begin delete page-->
                    <div>
                        Deleting an artist page will delete all the data associated with artist. Are you sure you wish to delete this page?<br />
                        <input type="button" ng-click="DeleteArtist()" value="Delete Page" />

                    </div>
                    <!--end delete page-->
                }
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $("#tabs").easyResponsiveTabs();
            });
        </script>

        <div class="related-artists">
            <h2 class="text-center">You may also like</h2>
            <div ng-hide="relatedArtistsLoaded">Loading...</div>
            <div data-ng-repeat="artist in relatedArtists">
                @Html.Partial("~/Plugins/Widgets.mobSocial/Views/mobSocial/ArtistPage/ArtistBlock.cshtml")
            </div>
        </div>
    </div>
</div>
<div class="artist-right">
    <div class="artist-right ad">
        <ins class="adsbygoogle"
             style="display:inline-block;width:200px;height:200px"
             data-ad-client="ca-pub-8103674550339337"
             data-ad-slot="7959116206"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <div class="artist-right ad">
        <ins class="adsbygoogle"
             style="display:inline-block;width:200px;height:200px"
             data-ad-client="ca-pub-8103674550339337"
             data-ad-slot="7959116206"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>



    <div class="artist-right ad">
        <ins class="adsbygoogle"
             style="display:inline-block;width:200px;height:200px"
             data-ad-client="ca-pub-8103674550339337"
             data-ad-slot="7959116206"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

</div>



