@model Nop.Plugin.WebApi.MobSocial.Models.AddFriendButtonModel


@if (Model.ShowAddFriendButton || Model.ShowFriendRequestSent)
{
    <div class="addFriendContainer">

        <div id="add-friend-button-container" class="profile-stat @(Model.ShowAddFriendButton ? "show" : "hide")">
            <button class="add-friend-button pm-link-button" data-tocustomerid="@Model.CustomerProfileId"><i class="fa fa-user-plus"></i> @(T("MobSocial.AddFriendButtonText").Text)</button>
        </div>

        <div id="friend-request-sent-container" data-friendcustomerid="@Model.CustomerProfileId" class="profile-stat @(Model.ShowFriendRequestSent ? "show" : "hide")">
            <button>
                <i class="fa fa-check"></i>
                <span id="friend-request-sent" class="friend-request-sent-label">@T("MobSocial.FriendRequestSentLabel")&nbsp;</span>
            </button>
        </div>

    </div>

}
else if (Model.ShowFriendsButton)
{
    <div class="profile-stat">
        <button>
            <i class="fa fa-check"></i>
            <span id="friends-button" class="friend-button">@T("MobSocial.FriendsLabelText")</span>
        </button>
    </div>
}
else if (Model.ShowConfirmFriendButton)
{
    <div class="profile-stat" data-showconfirmbutton="true" data-friendcustomerid="@Model.CustomerProfileId">
        <button>
            <span class="confirm-friend-button friend-button" data-friendcustomerid="@Model.CustomerProfileId">@T("MobSocial.ConfirmFriendButtonText")</span>
            <i class="fa fa-check confirmed-friend-button"></i>
            <span class="confirmed-friend-button friend-button">Confirmed</span>
        </button>
    </div>
}




