@using Nop.Plugin.Widgets.MobSocial.Constants
@{
    Layout = MobSocialConstant.ViewsPath + "/mobSocial/_AppColumnsTwo.cshtml";

    @Html.Partial("mobSocial/Friends/Includes")

    //title
    Html.AddTitleParts(T("PageTitle.Account").Text);

}
@section left
{
    @*todo Add account navigation back
        @Html.Partial("~/Views/Customer/MyAccountNavigation.cshtml", null, new ViewDataDictionary())*@
    @Html.Action("PublicInfo", "SocialNetworkNavigation", new { widgetZone = "account_navigation_after" })
}
<div class="page page-with-top-margin" ng-controller="FriendsController" ng-init="GetFriendRequests()">
    <div class="page-title ">
        <h1 class="text-center">@T("Account.MyAccount") - Friend Requests </h1>
    </div>
    <div class="clear">
    </div>
    <div class="page-body">
        <div class="row">
            <div ng-show="!FriendRequests || FriendRequests.length == 0">
                <h4 class='text-center'> You don't have any pending friend requests</h4>
            </div>
            <div ng-show="FriendRequests && FriendRequests.length > 0">
                <h4 class='text-center'> You have {{FriendRequests.length}} pending request(s)</h4>
            </div>
            <div ng-repeat="P in FriendRequests">
                @Html.Partial("mobSocial/Friends/FriendBlock")
            </div>
        </div>

    </div>
</div>