@using Nop.Plugin.Widgets.MobSocial.Models;

@model BusinessPageModel

@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    Html.AppendTitleParts(Model.Name);

    Html.AppendMetaDescriptionParts(Model.MetaDescription);
    Html.AppendMetaKeywordParts(Model.MetaKeywords);

    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPathMobSocial + "/business-pages.js");
    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPathMobSocial + "/easyResponsiveTabs.js");
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");
    Html.AddCssFileParts(ModelUtil.ContentPathMobSocial + "/easy-responsive-tabs.css");


}

@section left {

    <style type="text/css">
        .editProfilePictureButton {
            position: relative;
            top: -45px;
            left: 110px;
            text-align: right;
            padding: 5px;
            border: 1px solid black;
            background-color: orange;
        }

        .buy-tickets-text {
            font-size: .7em;
        }

        .hours-of-operation-day-of-week {
            font-size: .95em;
        }

        .hours-of-operation-label {
            font-size: .9em;
        }
    </style>

    <div style="position: relative;">
        <a href="@Model.FullSizeImageUrl" title="@Model.Name" id="main-event-img-lightbox-anchor-@Model.Id">
            <img id="main-event-img-@Model.Id" class="event-picture" src="@Model.MainPictureUrl" itemprop="image" title="@(Model.Name) Picture" alt="@(Model.Name) picture"/>

        </a>

        @if (Model.CanEdit)
        {
            <a class="editProfilePictureButton" href="BusinessPage/AddPicture/@Model.Id/BusinessPage" target="new">Edit Picture</a>
        }
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#main-event-img-lightbox-anchor-@Model.Id').magnificPopup(
            {
                type: 'image',
                removalDelay: 300,
                gallery: {
                    enabled: true
                }
            });
        });
    </script>



    @*@Html.Action("", "EventPage", new { customerId = Model.CustomerProfileId })
    <br />
    <span>@T("BusinessPage.HoursOfOperationText")</span><br />
    <ul>
        <li>
            <span class="hours-of-operation-day-of-week"><b>Friday</b></span> <br />
            <span class="hours-of-operation-label"> Super Skate 7pm - 11pm </span> <a href="#"><i class="fa fa-ticket"></i></a>
        </li>
    </ul>*@

    @*@Html.Action("AddFriendButton", "MobSocial", new { toCustomerId = Model.CustomerProfileId })*@

    @*@Html.Action("CustomerFriendBlock", "mobSocial", new { customerId = Model.CustomerProfileId, howMany = 10 })*@

    @*@Html.Action("CustomerSkateMovesBlock", "mobSocial", new { customerId = Model.CustomerProfileId, howMany = 10 })
    *@
    <br />
    @*        <div><b>Skate Moves</b></div>*@


    <div class="hotel-information-block">
        <span class="title">@(Model.Name)</span><br />
        <div class="hotel-information">
            <span class="value">@Model.Address1 @Model.Address2</span><br />
            <span class="value">@(Model.City), @Model.State @Model.ZipPostalCode</span><br />
           
            @if (!string.IsNullOrEmpty(Model.Phone))
            {
                <span class="value">@Model.Phone</span><br />
            }
           
            @if (!string.IsNullOrEmpty(Model.Email))
            {
                <span class="value">@Model.Email</span><br />
            }
        </div>
    </div>
}


@section right {
    

}

<div class="event-center-content">

    <h1>@Model.Name</h1>

    <div class="page-body">
        @{
            var selectPostsTab = String.Empty;
    /*if (Model.ForumsEnabled && Model.PagingPosts)
    {
        selectPostsTab = ".tabs('select', 1)";
    }*/
        }
        <script type="text/javascript">
            $(document).ready(function () {
                $("#tabs").easyResponsiveTabs();
                //$("#tabs").tabs("option", "active", 0);
            });
        </script>
        <div id="tabs">
            <ul class="resp-tabs-list">
                <li><i class="fa fa-info"></i> About</li>
                <li><i class="fa fa-tags"></i> Coupons</li>
                <li><i class="fa fa-picture-o"></i> Pictures</li>
                @*<li><a href="#tabs-3"><i class="fa fa-video-camera"></i> Videos</a></li>*@
                @*<li><a href="#tabs-4"><i class="fa fa-group"></i> Location</a></li>*@
                <li><i class="fa fa-calendar"></i> Calendar</li>
                @*@if (Model.ForumsEnabled)
                    {
                        <li><a href="#tabs-5"><i class="fa fa-list"></i> @T("Profile.LatestPosts")</a></li>
                    }*@
            </ul>

            <div class="resp-tabs-container">
                <div>@Html.Raw(Model.Description)</div>
                <div>
                    @if (Model.Coupons.Count == 0)
                    {
                        <span>No coupons</span><br /><br />
                    }


                    @foreach (var hotel in Model.Coupons)
                    {
                        <text>
                            <div class="hotel-information-block">
                                <span class="title">@(hotel.Title):</span><br />
                                <div class="hotel-information">
                                    <span class="label">@hotel.Name</span><br />
                                    <span class="value">@hotel.Address1 @hotel.Address2</span><br />
                                    <span class="value">@(hotel.City), @hotel.State @hotel.ZipPostalCode</span><br />
                                    @if (!string.IsNullOrEmpty(hotel.Country))
                                    {
                                        <span class="value">@hotel.Country</span><br />
                                    }
                                    @if (!string.IsNullOrEmpty(hotel.PhoneNumber))
                                    {
                                        <span class="value">@hotel.PhoneNumber</span><br />
                                    }
                                    @if (!string.IsNullOrEmpty(hotel.AdditionalInformation))
                                    {
                                        <span class="value">@Html.Raw(hotel.AdditionalInformation)</span><br />
                                    }
                                </div>
                            </div><br />
                        </text>
                    }

                </div>
                <div>@Model.Name Pictures</div>
                <div>@Model.Name Calendar</div>
            </div>





        </div>
    </div>

</div>


