@using Nop.Plugin.Widgets.MobSocial.Models;

@model BusinessPageSearchModel

@using Nop.Web.Framework.UI
@{
    Layout = "~/Views/Shared/_ColumnsThree.cshtml";

    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPathMobSocial + "/business-pages.js");
    Html.AddScriptParts(ResourceLocation.Foot, ModelUtil.ContentPathMobSocial + "/easyResponsiveTabs.js");
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");
    Html.AddCssFileParts(ModelUtil.ContentPathMobSocial + "/easy-responsive-tabs.css");


}

@section left {

    <table>

        <tr>
            <td class="adminTitle">
                Name
            </td>
            <td class="adminData">
                <input type="text" />
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => Model.CountryId):
            </td>
            <td class="adminData">
                @Html.DropDownList("CountryId", Model.AvailableCountries)
                @Html.ValidationMessageFor(model => model.CountryId)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                @Html.NopLabelFor(model => model.StateProvinceId):
            </td>
            <td class="adminData">
                @Html.DropDownList("StateProvinceId", Model.AvailableStates)
                @Html.ValidationMessageFor(model => model.StateProvinceId)
            </td>
        </tr>
    </table>

}

@section right {
    

}

<div class="event-center-content">

    Business Page Results

</div>


