@using Mob.Core.UI
@using Nop.Core.Infrastructure
@using Nop.Plugin.Widgets.MobSocial
@using Nop.Plugin.Widgets.MobSocial.Constants
@{
    //nopcommerce installation
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");

    Html.AddScriptParts("~/Scripts/jquery.fancybox-1.3.4.pack.js");
    Html.AddScriptParts("~/Scripts/jquery.magnific-popup.js");


    //THIRD PARTY RESOURCES

    //font-awesome icons
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/fonts/font-awesome.min.css");

    //moment
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/moment.min.js");

    //angular core
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/angular/angular.min.js");

    //jquery core
    //Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/jquery/jquery-1.11.min.js");

    //jquery ui
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/jquery-ui/jquery-ui.min.css");
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/jquery-ui/jquery-ui.structure.min.css");
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/jquery-ui//jquery-ui.theme.min.css");
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/jquery-ui/jquery-ui-1.11.min.js");

    //cookie
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/jquery.cookie/jquery.cookie.js");

    //datepicker
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/angular-datetimepicker/datetimepicker.css");
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/angular-datetimepicker/datetimepicker.js");

    //easy responsive tabs
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/easy-responsive-tabs/easyResponsiveTabs.js");
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/easy-responsive-tabs/easy-responsive-tabs.css");


    //x-editable
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/angular-xeditable/js/xeditable.min.js");
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/angular-xeditable/css/xeditable.css");

    //audio
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/angular-audio/js/angular.audio.js");

    //autocomplete
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/angucomplete-alt/angucomplete-alt.js");
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/angucomplete-alt/angucomplete-alt.css");




    //signalr
    //Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/signalr/RTCMultiConnection.js");
    //Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/signalr/jquery.signalR-1.2.2.min.js");
    // Html.AddScriptParts("~/signalr/hubs");

    //file upload
    Html.AddScriptParts(MobSocialConstant.ThirdPartyLibraryPath + "/angular-file-upload-1.1.5/angular-file-upload.js");


    //main app
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/mobSocial.js");


    //custom css
    Html.AddCssFileParts(MobSocialConstant.PluginContentPathInternal + "/css/mobSocial.css");
    Html.AddCssFileParts(MobSocialConstant.PluginContentPathInternal + "/css/mobSocial-custom.css");

    //services
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/services/song-service.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/services/dialogservice.js");

    //filters'
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/filters/ms2timestr.js");



    //custom directives
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/directives/contenteditable.directive.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/directives/whenscrolled.directive.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/directives/ajaxdisable.directive.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/directives/mob-preview-song-button.directive.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/directives/share-song-button.directive.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/directives/buy-song-button.directive.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/directives/mob-live-video.directive.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/directives/fileupload.directive.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/directives/friend-button.directive.js");

    //controllers
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/controllers/profile-pages/my-health.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/controllers/profile-pages/customer-profile.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/controllers/profile-pages/customer-albums.js");


    //common js
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/common/add-friend-button.js");
    Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/common/common.js");
    //Html.AddScriptParts(MobSocialConstant.PluginContentPathInternal + "/js/common/mob-video.js");


    var mobSettings = EngineContext.Current.Resolve<mobSocialSettings>();

}

@if (mobSettings.EnableFacebookInvite)
{
    <!--og tags-->
    <meta property="og:title" content="@Html.MobOpenGraphTitle()" />
    <meta property="og:type" content="@Html.MobOpenGraphType()" />
    <meta property="og:url" content="@Html.MobOpenGraphUrl()" />
    <meta property="og:imageurl" content="@Html.MobOpenGraphImageUrl()" />
    <meta property="og:description" content="@Html.MobOpenGraphDescription()" />

    <!--fb registration-->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=@mobSettings.FacebookWebsiteAppId";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


    </script>
}
