@using System.Web.UI.WebControls
@using Mob.Core.UI
@using Nop.Core
@using Nop.Core.Infrastructure
@using Nop.Plugin.WebApi.MobSocial
@using Nop.Plugin.Widgets.MobSocial
@using Nop.Plugin.Widgets.MobSocial.Constants
@{
    var headerScripts = new List<string>()
    {
        //THIRD PARTY RESOURCES

        //font-awesome icons
         "~/Scripts/jquery.magnific-popup.js",

        //moment
        MobSocialConstant.ThirdPartyLibraryPath + "/moment.min.js",

        //angular core
        MobSocialConstant.ThirdPartyLibraryPath + "/angular/angular.min.js",

        //angular moment
        MobSocialConstant.ThirdPartyLibraryPath + "/angular-moment.min.js",

        //jquery core
        //MobSocialConstant.ThirdPartyLibraryPath + "/jquery/jquery-1.11.min.js",

        //jquery ui
        MobSocialConstant.ThirdPartyLibraryPath + "/jquery-ui/jquery-ui-1.11.min.js",

        //cookie
        MobSocialConstant.ThirdPartyLibraryPath + "/jquery.cookie/jquery.cookie.js",

        //datepicker

        MobSocialConstant.ThirdPartyLibraryPath + "/angular-datetimepicker/datetimepicker.js",

        //easy responsive tabs
        MobSocialConstant.ThirdPartyLibraryPath + "/easy-responsive-tabs/easyResponsiveTabs.js",

        //x-editable
        MobSocialConstant.ThirdPartyLibraryPath + "/angular-xeditable/js/xeditable.min.js",


        //audio
        MobSocialConstant.ThirdPartyLibraryPath + "/angular-audio/js/angular.audio.js",

        //autocomplete
        MobSocialConstant.ThirdPartyLibraryPath + "/angucomplete-alt/angucomplete-alt.js",

        //file upload
        MobSocialConstant.ThirdPartyLibraryPath + "/angular-file-upload-1.1.5/angular-file-upload.js",

        //crop tool
        MobSocialConstant.ThirdPartyLibraryPath + "/angular-img-cropper/angular-img-cropper.js",
    };

    var footerScripts = new List<string>()
    {
       //main app
        MobSocialConstant.PluginContentPathInternal + "/js/mobSocial.js",


        //custom css


        //services
        MobSocialConstant.PluginContentPathInternal + "/js/services/song-service.js",
        MobSocialConstant.PluginContentPathInternal + "/js/services/dialogservice.js",

        //filters'
        MobSocialConstant.PluginContentPathInternal + "/js/filters/ms2timestr.js",



        //custom directives
        MobSocialConstant.PluginContentPathInternal + "/js/directives/contenteditable.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/whenscrolled.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/ajaxdisable.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/mob-preview-song-button.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/share-song-button.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/buy-song-button.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/mob-live-video.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/fileupload.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/friend-button.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/controllers/follow/follow-service.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/follow-button.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/controllers/customer-like/customer-like-service.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/like-button.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/controllers/customer-comments/customer-comments-service.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/customer-comments.directive.js",
        MobSocialConstant.PluginContentPathInternal + "/js/directives/checkbox-list.directive.js",

        //common js
        MobSocialConstant.PluginContentPathInternal + "/js/common/add-friend-button.js",
        MobSocialConstant.PluginContentPathInternal + "/js/common/common.js",
        MobSocialConstant.PluginContentPathInternal + "/js/common/mobsocial-interceptor.js",
        MobSocialConstant.PluginContentPathInternal + "/js/common/webclient-service.js"
    };

    //nopcommerce installation
    Html.AddCssFileParts("~/Content/magnific-popup/magnific-popup.css");

    //THIRD PARTY RESOURCES

    //font-awesome icons
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/fonts/font-awesome.min.css");

    //jquery ui
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/jquery-ui/jquery-ui.min.css");
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/jquery-ui/jquery-ui.structure.min.css");
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/jquery-ui//jquery-ui.theme.min.css");


    //datepicker
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/angular-datetimepicker/datetimepicker.css");


    //easy responsive tabs

    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/easy-responsive-tabs/easy-responsive-tabs.css");


    //x-editable
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/angular-xeditable/css/xeditable.css");

    //autocomplete
    Html.AddCssFileParts(MobSocialConstant.ThirdPartyLibraryPath + "/angucomplete-alt/angucomplete-alt.css");


    //custom css
    Html.AddCssFileParts(MobSocialConstant.PluginContentPathInternal + "/css/styles.css");

    //append in reverse to render in correct order
    for (var i = 0; i < headerScripts.Count ; i++)
    {
        Html.AddScriptParts(ResourceLocation.Head, headerScripts[i]);
    }
    for (var i = footerScripts.Count - 1; i > -1; i--)
    {
        Html.AppendScriptParts(ResourceLocation.Foot, footerScripts[i]);
    }


    var mobSettings = EngineContext.Current.Resolve<mobSocialSettings>();
    var store = EngineContext.Current.Resolve<IStoreContext>().CurrentStore;

    Html.SetOpenGraphTags(store.Name, "", store.Url, "website", "");

}

@if (mobSettings.EnableFacebookInvite)
{
    <!--og tags-->
    <meta property="og:title" content="@Html.MobOpenGraphTitle()" />
    <meta property="og:type" content="@Html.MobOpenGraphType()" />
    <meta property="og:url" content="@Html.MobOpenGraphUrl()" />
    <meta property="og:imageurl" content="@Html.MobOpenGraphImageUrl()" />
    <meta property="og:description" content="@Html.MobOpenGraphDescription()" />

    <!--fb registration-->
    <div id="fb-root"></div>
    <script>
        const FBVERSION = "v2.7";
        window.fbAsyncInit = function () {
            FB.init({
                appId: '@mobSettings.FacebookWebsiteAppId',
                xfbml: true,
                version: FBVERSION
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

    </script>
}
