<select id="searchTypeDropDown">
    <option>Store</option>
    <option value="people">@T("SearchDropdown.PeopleSearchText")</option>
    <option value="videobattles">Video Battles</option>
    <option>@T("SearchDropdown.EventPageSearchText")</option>
    <option value="businesses">@T("SearchDropdown.BusinessPageSearchText")</option>
</select>
<script type="text/javascript">
    setTimeout(function() {
        //adding a 5 second delay, so jquery can load
        //depending on selected type, let's change the autocomplete source
    var defaultGlobalAutocompleteRenderer;
    jQuery(document).ready(function() {
        defaultGlobalAutocompleteRenderer = $('#small-searchterms').data("ui-autocomplete")._renderItem;
    });
    jQuery("#searchTypeDropDown").change(function() {
        var value = $(this).val();

        var autoCompleteSourceUrl = "@(Url.RouteUrl("ProductSearchAutoComplete"))";
        var parentFormTargetUrl = "@Url.RouteUrl("ProductSearch")"; //default;
        var renderer = defaultGlobalAutocompleteRenderer;
        var parameterName = "q";
        switch(value) {
        case "videobattles":
            parentFormTargetUrl = "@Url.RouteUrl("VideoBattles", new {ViewType = "search"})";
            parameterName = "searchTerm";
            break;
        case "people":
            var source = function (request, response) {
                $.ajax({
                    url: window.Configuration.globalApiEndPoint + '/autocomplete/users/get',
                    data: request,
                    success: function (data) {
                        if (data.Success) {
                            response($.map(data.ResponseData.AutoComplete.Users,
                                function(item) {
                                    return {
                                        DisplayName: item.Name,
                                        PictureUrl: item.ProfileImageUrl,
                                        ProfileUrl: "/social/u/" + item.Id
                                    };

                                }));
                        }
                    }
                });
            }
            parentFormTargetUrl = "@Url.RouteUrl("SearchPeople")";
            autoCompleteSourceUrl = source;
            parameterName = "searchTerm";
            renderer = function(ul, item) {
                var t = item.DisplayName;
                //html encode
                t = htmlEncode(t);
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a href='" + item.ProfileUrl + "'><span><img src='" + item.PictureUrl + "' width='50'>" + t + "</span></a>")
                    .appendTo(ul);
            };
            break;
        case "businesses":
            var source = function (request, response) {
                request.count = 5;
                $.ajax({
                    url: window.Configuration.globalApiEndPoint + '/autocomplete/businesses/get',
                    data: request,
                    success: function (data) {
                        if (data.Success) {
                            response($.map(data.ResponseData.AutoComplete.Businesses,
                                function(item) {
                                    return {
                                        DisplayName: item.Name,
                                        PictureUrl: item.ImageUrl,
                                        ProfileUrl: "/" + item.SeName.replaceAll("-", "")
                                    };

                                }));
                        }
                    }
                });
            }
            parentFormTargetUrl = "@Url.RouteUrl("BusinessPageSearchUrl")";
            autoCompleteSourceUrl = source;
            parameterName = "searchTerm";
            renderer = function(ul, item) {
                var t = item.DisplayName;
                //html encode
                t = htmlEncode(t);
                return $("<li></li>")
                    .data("item.autocomplete", item)
                    .append("<a href='" + item.ProfileUrl + "'><span><img src='" + item.PictureUrl + "' width='50'>" + t + "</span></a>")
                    .appendTo(ul);
            };
            break;
        default:
            break;
        }

        //autocomplete source
        $('#small-searchterms').autocomplete("option", "source", autoCompleteSourceUrl);
        $('#small-searchterms').attr("name", parameterName);
        //submit action
        $(this).closest("form").attr("action", parentFormTargetUrl);


        //and renderer
        $('#small-searchterms').data("ui-autocomplete")._renderItem = renderer;


    });
    }, 300);

</script>