@model MenuModel
@using Nop.Web.Models.Common;

<ul class="top-menu">
    @Html.Widget("header_menu_before")
    
    <li><a href="@Url.RouteUrl("HomePage")">@T("HomePage")</a></li>
    @*added*@
    <li class="dropdown">
        @Html.Action("TopicBlock", "Topic", new { systemName = "_TopicMegaMenuBlock" })
    </li>
    @*@added*@
    @if (Model.RecentlyAddedProductsEnabled)
    {
        <li><a href="@Url.RouteUrl("RecentlyAddedProducts")">@T("Products.NewProducts")</a>
        </li>
    }
    <li><a href="@Url.RouteUrl("ProductSearch")">@T("Search")</a> </li>
    <li><a href="@Url.RouteUrl("CustomerInfo")">@T("Account.MyAccount")</a></li>
    <li><a href="@Url.Action("Team", "MobSocial", new { teamId = 1})">Team</a></li>
    @if (Model.BlogEnabled)
    {
        <li><a href="@Url.RouteUrl("Blog")">@T("Blog")</a></li>
    }
    @if (Model.ForumEnabled)
    {
        <li><a href="@Url.RouteUrl("Boards")">@T("Forum.Forums")</a></li>
    }
    <li><a href="@Url.RouteUrl("ContactUs")">@T("ContactUs")</a></li>
    @*<li style="background:#9E2023;"><a href="@Url.RouteUrl("Nop.Plugin.RequestQuote.ContactUs")">@T("Nop.Plugin.RequestQuote.PriceQuote")</a></li>*@
    @Html.Widget("header_menu_after")
</ul>
